.accounting {

  tbody td {
    border: 1px solid #DDD;
  }

  .-details {
    width: 280px;
  }

  .-totals td {
    font-weight: bold;
    background-color: #DDD;
  }

  .-totals td, .-debit, .-credit {
    text-align: right;
    font-size: 14px;
  }

   thead td {
    font-size: 10px;
    font-family: Verdana,Arial,sans;
    border-bottom: 1px solid #DDD;
    text-align: center;
  }

  width: 100%;
  border-collapse: collapse;
}