.album .album-item {

  width: 228px;
  float: left;
  margin: 6px 4px;
  font-size: 10px;
  font-family: "Arial", sans;
  height: 176px;
  overflow: hidden;  

  > a {
    border: 1px solid #CCC;
    display: block;
    margin: 0 20px;
    padding: 4px;
    width: 178px;

    img {
      background: url("/public/icon/ajax-load.gif") no-repeat scroll center center transparent;
      display: block;
      height: 128px;
      width: 178px;
    }
  }

  > span {
    display: block;
    overflow: hidden;
    margin-top: 2px;
    padding: 1px;
    height: 15px;
    white-space: nowrap;
    text-align: center;
    color: #AAA;

    img {
      margin: -1px 0;
      vertical-align: bottom;
    }
  } 
}

.theme-album() {
	.album .album-item {		
		a.remove {
			color: @tool;
			&:hover {
				color: @tool-hover;
			} 
		} 
	}
}

body {
	.colors-pink;
	.theme-album;
}

.theme-green {
	.colors-green;
	.theme-album;
}

.theme-sobre {
	.colors-sobre;
	.theme-album;
}

.theme-sobre {
	.colors-white;
	.theme-album;
}