.breadcrumb-home {
  border-radius: 5px;
  background:white url("/public/icon/house.png") no-repeat scroll center center;
  border:1px solid #CCCCCC;
  display:inline-block;
  height:20px;
  margin:2px 0;
  vertical-align:middle;
  width:42px;
}
