.by-avatar {

  padding: 4px;
  border: 1px solid #CCC;
  overflow: hidden;
  border-radius: 5px;
  background-color: #EEE;
  box-shadow: 0 0 4px #CCC;

  > img {
    float: left;
    margin-right: 5px;
    height: 36px;
    width: 36px;
  }

  > span {
    display: block
  }
}
