body, input, textarea {
  font-family: "Helvetica", "Arial", sans;
}

h1, h2, h3, .ui-dialog > .ui-dialog-titlebar > .ui-dialog-title {
  text-transform: uppercase;
  text-shadow: none;
}

h3.underlined {
  border-bottom: 1px solid #FF7094;
}

a {
  text-decoration: none;
}

a:hover { 
  text-decoration: underline;
}

#footer {
  text-align: center;
  font-family: "Arial", sans;
}

.ui-button-text {
  height: 19px;
}

label {
  font-weight: normal;
  font-size: 13px;    
}

*::-moz-selection {
    background: none repeat scroll 0 0 #E70070;
    color: white;
}

*::selection{
	background: none repeat scroll 0 0 #E70070;
	color: white;
}

.theme-common() {
	h1, h2, h3, .ui-dialog > .ui-dialog-titlebar > .ui-dialog-title {
		color: @titles;
	}
	
	h3.underlined {
		border-bottom-color: @titles;
	}
	
	*::-moz-selection {
    background-color: @the-color;
	}

	*::selection{
		background-color: @the-color;
	}
}

body {
	.colors-pink;
	.theme-common;
}

.theme-green {
	.colors-green;
	.theme-common;
}

.theme-sobre {
	.colors-sobre;
	.theme-common;
}

.theme-white {
	.colors-white;
	.theme-common;
}