.field {

  input.loading {
    background: url(/public/icon/load-16x16.gif) left center no-repeat;
  }

  clear: both;
  overflow: hidden;

  .-label {
    float: left;
    font-size: 11px;
    margin-top: 6px;
    text-align: right;
    width: 180px;
    padding-right: 15px;
    position:relative;

    .minitip {
      position: absolute;
      top: 0px;
      right: 0px;
    }   
  }

  .-field {
    overflow: hidden;
    padding-left: 15px;

    &.required {
      background: url("/public/icon/bullet_star.png") no-repeat scroll 0 6px transparent;
    }
  }

  ul {

    a.-remove {

      &:hover {
        text-decoration: none;
        background-image: url("/public/icon/cross.png");
      }

      display: block;
      width: 20px;
      height: 34px;
      float: left;
      background: url("/public/icon/cross-grey.png") center center no-repeat transparent;
    }

    li {
      margin: 0;
      overflow: hidden;
    }   

    margin: 0;
    padding: 0;
    list-style: none;
  }

  .-add {
    display: block ;
    height: 30px;
    line-height: 30px;
  } 
}

.joy-fields { overflow: hidden }

.span-15 .field .-label {
  width: 130px;
}

.joy-fields.joy-narrow {

  .-label { 
    float: none; 
    text-align: left;
    padding: 0 0 0 15px; 
    label { font-weight: bold; }
  }

  .-field {
    padding: 0 15px;

    textarea { width: 348px }

    ul { 
      .-label { display: none }
      .-field {
        padding: 1px;
	.large-input input { width: 337px } 
      }
    } 
  }

}