.from-rss {
  border: 1px solid #DDD;
  margin: 0 4px 4px;
  background: #EEE url(/public/icon/feed_link.png) no-repeat 2px center;
  padding: 2px 2px 2px 22px;
  line-height: 16px;
  font-size: 11px;

  a { 
    display: block;
    margin-right: 4px;
    overflow: hidden;
    white-space: nowrap;
  }
}
