.info-box {

  p {
    margin:0.9em 0 0 0 ;
  }

  h3 {
    background-color:#b8b;
    color:white;
    font-weight:bold;
    margin:-5px -5px 0;
    padding:4px 5px 5px;
    text-shadow:0 1px 0 #848;
    vertical-align:middle;
    font-size: 12px;
  }

  background:#EDE none repeat scroll 0 0;
  border:1px solid #b8b;
  padding:5px;
}
