input.ui-autocomplete-input.joy-select[type="text"] {

  &.joy-select-set {
    background: url("/public/css/jqueryui-aristo/images/the_gradient.gif") repeat-x scroll center top #DDDDDD;
  }

  font-weight: normal;
  margin: 0.5em 0;
  padding: 2px 0;
  width: 250px;
}

.joy-select-html {
    background: url("/public/css/jqueryui-aristo/images/the_gradient.gif") repeat-x scroll center top #DDDDDD;
    border: 1px solid #BBBBBB;
    height: 18px;
    margin: 0.5em 0;
    overflow: hidden;
    padding: 1px;
    width: 248px;
}

.ui-menu-item a.joy-custom {
  padding:0;
}