.login-method{
	text-align: center;
	padding: 10px 0;
	display: block;
	
  &:hover { 
    color: #000;
	background-color: #EEE;
    text-decoration: none;
  }
  
  .-image{
  	margin-top: 5px;
	display: block;
  }
}

.login-method-center{
  	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	padding: 0 8px;
}