.messages-title {

  border: 1px solid #CCCCCC;
  border-radius: 10px 10px 10px 10px;
  color: #666666;
  display: block;
  font-size: 24px;
  margin-bottom: 5px;
  padding: 8px;
  text-transform: uppercase;

  img {
    height: 36px;
    vertical-align: top;
  }

  &:hover {
    text-decoration: none;
    color: black;
    background: #EEE;
  }
}

.messages-assos {

  .-name {
    display:block;
    font-weight:bold;
    font-size: 13px;
    height:22px;
    overflow:hidden;
  }

  .unread {

    .-unread {
      display:block;
      position:absolute;
      top:12px;
      right:10px;
      width:25px;
      height:25px;
      background-color:#F90;
      text-align:center;
      line-height:25px;
      color:white;
      font-weight:bold;
      border-radius:25px;
    }

    a:hover , &.selected a {
      background-color:#FC9;
    }

    a {
      background-color:#FEC;
      border-color:#F90;
    }
  }

  a:hover , .selected a {
    text-decoration:none;
    background-color:#EEE;
    color:#333;
  }

  .-unread { display: none; }

  img {
    width:40px;
    height:40px;
    float:left;
    margin-right:5px;
  }

  a {
    display:block;
    border:1px solid #CCC;
    margin-bottom:-1px;
    padding:5px 4px;
    color:black;
    overflow:hidden;
    position:relative;
  }
}

.message {

  border-top:1px solid #CCCCCC;
  color:#333333;
  display:block;
  overflow:hidden;
  padding:5px;

  &:hover, &:active {
    background-color:#EEEEEE;
    color:#333333;
    text-decoration:none;
  }

  &.is-new {
    background-color: #FEC;
  }

  &.is-new:hover {
    background-color: #FDB;
  }

  .-asso {
    font-weight:bold;
    color:#C20069;
  }

  .-info {
    color:#888888;
    display:block;
    font-size:10px;
  }

  .-body {
    display:block;
    float:left;
    margin:0 0 0 5px;
    width:495px;
  }

  .-desc {
    display:block;
    font-weight: bold;
    line-height:14px;
  }

  > img {
    float:left;
    width:30px;
    height:30px;
  }
}

.message-participants .group {

  background-color: #DDDDDD;
  padding: 4px 7px;
  margin-bottom: -1px;
  margin-right: 5px;

  .-name {
    display: block;
    font-size: 14px;
    font-weight: bold;
  }

  .-kind img {
    margin: -2px 0;
  }

  .-status {
    color: #888888;
    float: right;
    font-size: 10px;
    margin-top: 4px;
  }

  .-kind {
    display: block;
  }
}
