.more-actions {

  float:right;
  position:relative;

  button { margin-top: 0 }

  .-actions {

     display:none; 

     a {

       color: #555;
       display: block;
       font-weight: bold;
       line-height: 14px;
       padding: 5px 0;
       text-shadow: 0 1px 0 #FFF;

       img {
         vertical-align: bottom;
         margin-right: 3px;
       }

       &:hover {
         text-decoration: none;
       }

     }
  }

  &.open .-actions {
    display:block;
    position:absolute;
    width:150px;
    top:31px;
    right:1px;
    background-color: white;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 3px 8px;
    box-shadow: 0 0 4px #888;
  }
}

.theme-more-actions() {
  .-actions {
     a {
       &:hover {
         color: @tool-hover;
       }
     }
  }
}

body {
  .colors-pink;
  .theme-more-actions;
}

.theme-green {
  .colors-green;
  .theme-more-actions;
}

.theme-sobre {
  .colors-sobre;
  .theme-more-actions;
}

.theme-white {
  .colors-white;
  .theme-more-actions;
}