.notification {

  border-bottom:1px solid #CCCCCC;
  color:#333333;
  display:block;
  overflow:hidden;
  padding:5px;


  &:hover, &:active {
    background-color:#EEEEEE;
    color:#333333;
    text-decoration:none;
  }

  &.is-new {

    background-color: #FEC;

    &:hover {
      background-color: #FDB;
    }
  }

  .-asso {
    font-weight:bold;
    color:#C20069;
  }

  .-info {
    color:#888888;
    display:block;
    font-size:10px;
  }

  .-body {
    display:block;
    float:left;
    margin:0 0 0 5px;
    width:495px;
  }

  .-desc {
    display:block;
    margin-bottom:5px;
  }

  > img {
    float:left;
    width:40px;
    height:40px;
  }

  .-info img {
    margin:-4px 0;
  }
}
