.order {

  font-size: 14px;

  .-tva {
    color: #888;
  }

  .-amount {
    text-align: right;
  }

  .-ttc .-amount {
    font-weight: bold;
  }

  .-detail {
    background: url("/public/icon/bullet_go.png") no-repeat scroll 4px -1px transparent;
    color: #888888;
    display: block;
    font-family: "Arial",sans;
    font-size: 10px;
    padding-left: 20px;
  }

  .-amount.-negative {
    text-shadow: 0 0 5px lightGreen;
    color: green;
  }

}
