.participant {
  border:1px solid #DDDDDD;
  overflow:hidden;
  padding:5px 4px;
  margin-bottom: -1px;
  margin-right: 5px;

  .-name {
    display:block;
    font-weight:bold;
    line-height:18px;
  }

  .-status {
    display:block;
    line-height:15px;
  }

  img {
    float:left;
    height:34px;
    margin-right:5px;
    width:34px;
  }
}
