.participate {

  padding: 3px 10px;
  background-color: #EEE;
  border: 1px solid #DDD;

  .-action {

    float: right;

    button {
      float: left;
    }
  }

  .-text {
    text-align: right;
    font-size: 11px;
  }
}
