.picker  {

  min-height:150px;
  min-width:370px;
  max-height:250px;
  overflow:auto;

  a {

    &.item {
      display: block;
      margin-left: 19px;
      padding: 1px 2px;
      line-height: 16px;

      &:hover {
        text-decoration: none;
        background-color: #F0D0E0;
      }
    }

    img {
      margin-right:5px;
      vertical-align:top;
    }
  }

  .-section {

    a:hover {
      text-decoration: none;
      background-color: #F0D0E0;
    }

    > div {
      padding-left:20px;
    }

    .-item { 
      display: block;
    }

    > a {
      background:white url(/public/icon/bullet_toggle_plus.png) no-repeat scroll left center;
      display:block;
      line-height:16px;
      padding: 2px 5px 2px 20px;

      &.loading {
        background: white url(/public/icon/load-16x16.gif) left center no-repeat !important;
      }

      &.open {
        background-image:url(/public/icon/bullet_toggle_minus.png);
      }  
    } 
  }
}
