.pretty-button { 

  display: none;

  &.ui-button {

    margin: 0;
    display: block; 
  
    &.stay-inline {
      display: inline-block;
    }
  }

  &.-right{
    float: right;
    margin-left: 5px;
  }

  &.icon .ui-button-text {
    height: 16px;
    width: 16px;
    padding: 5px;
  }

  &.small-button {

    display: inline-block;
    float: none;

    span {
      font-size: 10px;
      padding: 2px 10px;
    }
  }

  &.with-icon {

    > span > * {
      border: none;
      vertical-align: middle;
    }

    img {
      margin-right: 0.5em;
    }
  }

  &.typwidth {
    width: 109px ! important;
  }
}
