.cadre-bkg
{
  overflow: hidden;
  background:url(/public/img/background.png);	
}

.cadre-page 
{
  background-color: white;
  border: 1px solid #CCC;
  border-radius: 10px;
  margin: 10px 0;
  padding: 19px;
  overflow: hidden;

  p, li {
    font-size: 14px;
  }
}
