table.carrelage, table.summary 
{
  border-collapse: collapse;

  thead td, tfoot td {
    border: 1px solid #CCC;
    background: url("/public/css/jqueryui-aristo/images/the_gradient.gif") repeat-x scroll center top #DDDDDD;

    a { background-color: transparent; }
  }
}

table.carrelage a.-edit {
    display: block;
    width: 22px;
    height: 16px;
    background: url(/public/icon/pencil_go.png) center center no-repeat;
}