.tool {
  font-size: 10px;
  font-family:"Arial",sans;
  color: #888;
  line-height: 15px;

  img {
    margin-right: 3px;
    vertical-align: middle;
  }
}

.theme-tool() {
  .tool a, a.tool {
    color: @tool;
    &:hover { color: @tool-hover; } 
  }
}

body {
  .colors-pink;
  .theme-tool;
}

.theme-green {
  .colors-green;
  .theme-tool;
}

.theme-sobre {
  .colors-sobre;
  .theme-tool;
}

.theme-white {
  .colors-white;
  .theme-tool;
}