.wall-post-form {

  textarea
  {
    width:  458px;
    height: 120px;
    margin: 0 0 5px 0;
  }

  label {
    display: none;

    &.field-count {
      display: block;
    }
  }

  &.-hide {

    height: 26px;

    form * {
      display: none;
    }

    label {

      padding-left:8px;
      padding-top:4px;
      color:#AAAAAA;
      display:block;
      font-weight:normal;
      position:absolute;

      &.field-count {
        display: none !important;
      }
    }

    textarea {
      background-color: transparent;
      position: absolute;
      display: block;
      height:  14px;
      margin:  0px;
    }
  }
}
