.red-warning {
  padding: 10px 10px 10px 45px;
  background: url('/public/icon/32x32/exclamation.png') 7px center no-repeat #FDD;
  color: #C55;
  font-weight: bold;
  border: 1px dashed #C55;
  clear: both;
}

.span-6 .red-warning {
  padding: 10px;
  background-image: none;
}
