<tr id="{v:id}">
  <td class="-action">
    <div>
      <input type="hidden" name="data" value="{v:data}"/>
      <img src="/public/icon/arrow_out.png"/>
    </div>
  </td>
  <td class="-action">
    <div>
      <a href="javascript:void(0)" onclick="$(this).closest('tr').remove()">
	<img src="/public/icon/cross.png"/>
      </a>
    </div>
  </td>
  <td class="-action">
    <div>
      <a href="javascript:void(0)" onclick="{v:edit}">
	<img src="/public/icon/pencil.png"/>
      </a>            
    </div>
    </div>
  </td>  
  <td class="-name"><div>{v:name}</div></td>
  <td class="-source"><div>{v:type}</div></td>
  <td class="-required"><div>{v:required}</div></td>
</tr>
