<div class="span-18 last">
  {v:help}
</div>

<div class="span-18 prepend-top last" style="min-height:60px">
  <table class="summary">
    <thead>
      <tr>
	<td><div style="width:384px">{t:field.name}</div></td>
	<td><div style="width:230px">{t:field.type}</div></td>
	<td><div style="width:63px;text-align:center">{t:field.required}</div></td>
      </tr>
    </thead>
    <tbody class="fieldedit">
      {v:list}
    </tbody>
  </table>
</div>

<div class="prepend-15 span-3 prepend-top last">
  <a href="{v:edit}" class="typwidth pretty-button">{t:edit}</a>
</div>

