<a class="entity" href="{v:url}">
  {{img:<img src="{v:url}"/>}}
  <span>{v:flag}</span>
  <span class="-stats">{v:stats}</span>
  <span class="-join">{v:join}</span>
  <span class="-name">{v:name} <span class="-draft">{v:draft}</span></span>
  <span class="-desc">{v:desc}</span>
</a>

<style type="less">
a.entity:hover {
  .-desc { color: #3AA; }
  .-name { color: #166; }
}

a.entity {

  display: block;
  padding: 3px;
  border-top: 1px solid #DDD;
  color: black;
  overflow: hidden;

  &:hover {
    background-color: #EEE;
    text-decoration: none;
    color: black;
  }

  .-join {
    display: block;
    float:right;
    padding: 5px 5px 6px;
  }

  .-name {

    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
    display: block;

    .-draft {
      font-size: 11px;
      font-weight: normal;
      color: #F69;
    }

  }

  .-desc {
    color: #888;
    text-align: justify;
    overflow: hidden;
  }

  > img {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 5px;
  }

  .-stats {

    float: right;
    font-weight: bold;
    text-align: right;
    min-height: 1px;
    width: 50px;

    .-stats-line {

      display: block;
      padding: 2px 20px 0px 2px;
  
      &.-pending {
        background: transparent url(/public/icon/exclamation.png) right center no-repeat;
        color: #C55;
      }

      &.-users {
         background: transparent url(/public/icon/user.png) right center no-repeat;
      }
    }
  }

}
</style>
