<div class="span-24 last">
  <h2>Page non disponible</h2>
  <div class="span-12">
    <p>
      La page que vous avez demandé n'existe pas, ou n'a pas pu être affichée.
    </p>
  </div>
  <div class="prepend-3 span-9 last">
    <div class="grey">
      <p>Si vous avez copié le lien depuis un document ou email, vérifiez-en l'orthographe.</p>
      <p>La page a pu être supprimée par l'un des responsables.</p>
      <p>Vous ne disposez peut-être pas des droits pour voir la page.</p>
    </div>
  </div>
</div>
