<div id="{v:id}" class="wall-item">
  <a href="{v:url}" class="-pic"><img src="{v:pic}"></a>
  <div class="-body">
    <a href="{v:url}"><strong>{v:name}</strong></a>&ensp;<span class="-role">{v:role}</span>
    <div class="-text"><p>{v:text}</p></div>
    {v:attach}
    <div class="tool">
      <img src="{v:icon}"/> {v:date} 
      {{like: · <a href="javascript:void(0)" onclick="{v:like}" class="-like{v:liked}">★ <span>{v:likes}</span></a>}}
      {{reply: · <a class="reply" onclick="{v:reply}" href="javascript:void(0)">{t:wall.reply}</a>}}
      {{remove: · <a class="remove" onclick="{v:remove}" href="javascript:void(0)">{t:wall.remove}</a>}}
    </div>
    {v:more}{v:replies}
  </div>  
</div>
