<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{t:admin.title}</title>    
    <link rel="stylesheet" href="/public/css/jqueryui-aristo/jquery-ui-1.8.4.custom.css" type="text/css" media="screen,projection"> 
    <link rel="stylesheet" href="/public/css/joy.css" type="text/css" media="screen,projection"> 
  </head>
  <body>    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery.json-2.2.min.js"></script>
    <script type="text/javascript" src="/public/js/joy.js"></script>
    <script type="text/javascript" src="/public/js/admin.js"></script>
    {v:script}
  </body>
</html>
