{i:show-details}
<div>
  <table class="info-table">
    <tr>
      <td class="info-label">{t:account.field.email}{t:colon}</td><td>{v:email}</td>
      <td class="info-label">{t:account.field.birthdate}{t:colon}</td><td>{v:birthdate}</td>
      <td class="info-label">{t:account.field.gender}{t:colon}</td><td>{v:gender}</td>
    </tr>
    <tr>
      <td class="info-label">{t:account.field.address}{t:colon}</td><td colspan="5">{v:address}</td>
    </tr>
    <tr>
      <td class="info-label">{t:account.field.city}{t:colon}</td><td>{v:city}</td>
      <td class="info-label">{t:account.field.zipcode}{t:colon}</td><td>{v:zipcode}</td>
      <td class="info-label">{t:account.field.country}{t:colon}</td><td>{v:country}</td>
    </tr>
    <tr>
      <td class="info-label">{t:account.field.phone}{t:colon}</td><td>{v:phone}</td>
      <td class="info-label">{t:account.field.cellphone}{t:colon}</td><td>{v:cellphone}</td>
      <td colspan="2"></td>
    </tr>
  </table>

</div>
