{i:r-breadcrumbs}
<div class="span-24 last">			

  <div class="span-6 column-left">

    <div class="span-6 append-bottom last">
      <img class="profile-pic" src="{v:url-pic}"/>
    </div>

    <div class="span-6 append-bottom last">
      {v:actions}
    </div>

  </div>

  <div class="span-18 last">

    <div class="span-18 last">
      <h1 class="page-title">{v:name}</h1>
      <span>{v:status}</span>
    </div>

    <div class="span-18 last">
      {v:info}
    </div>

    <hr/>

    <div class="span-18 last">
      {v:feed}
    </div>

  </div>
</div>


