<div class="span-10">
  {v:explanation}
</div>
<div class="span-14 last">
  {v:share-config.begin}
  <div class="span-14 append-bottom last">
    <div class="span-8 prepend-5 append-1 last"> {v:share-config.email.input}     {v:share-config.email.label}     </div>
    <div class="span-8 prepend-5 append-1 last"> {v:share-config.birth.input}     {v:share-config.birth.label}     </div>
    <div class="span-8 prepend-5 append-1 last"> {v:share-config.gender.input}    {v:share-config.gender.label}    </div>
    <div class="span-8 prepend-5 append-1 last"> {v:share-config.phone.input}     {v:share-config.phone.label}     </div>
    <div class="span-8 prepend-5 append-1 last"> {v:share-config.cellphone.input} {v:share-config.cellphone.label} </div>
    <div class="span-8 prepend-5 append-1 last"> {v:share-config.address.input}   {v:share-config.address.label}   </div>
    <div class="span-8 prepend-5 append-1 last"> {v:share-config.city.input}      {v:share-config.city.label}      </div>
    <div class="span-8 prepend-5 append-1 last"> {v:share-config.country.input}   {v:share-config.country.label}   </div>
  </div>
  <hr/>
  <div class="span-3 prepend-8">
    <button type="submit" class="pretty-button typwidth">{t:save}</button>
  </div>
  <div class="span-3 last">
    <a class="pretty-button typwidth" href="{v:cancel}">{t:cancel}</a>
  </div>
  {v:share-config.end}
</div>

