<div class="span-10">
  <div class="span-10 append-bottom last">
    {v:explanation}
  </div>
  <div class="span-10 append-bottom last">
    <div class="span-7">
      {v:notification-receive.autologin.label}
    </div>
    <div class="span-1 prepend-1 append-1 last">
      {v:notification-receive.autologin.input}
    </div>
  </div>  
</div>
<div class="span-14 last">
  {v:notification-receive.begin}
  <div class="span-14 append-bottom last receive-config">
    <div class="span-3 prepend-10 append-1 last">{t:notification.receive.label}</div>
    <hr/>

    <div class="span-14 append-bottom last">
      <div class="span-7 prepend-2">
	<img src="/public/icon/application_view_detail.png"/> 
	{v:notification-receive.digest.label}
      </div>
      <div class="span-1 prepend-2 append-2 last">
	{v:notification-receive.digest.input}
      </div>
    </div>

    <div class="span-14 append-bottom last">
      <div class="span-7 prepend-2">
	<img src="/public/icon/star.png"/> 
	{v:notification-receive.likeItem.label}
      </div>
      <div class="span-1 prepend-2 append-2 last">
	{v:notification-receive.likeItem.input}
      </div>
    </div>

    <div class="span-14 append-bottom last">
      <div class="span-7 prepend-2">
	<img src="/public/icon/user_comment.png"/> 
	{v:notification-receive.commentItem.label}
      </div>
      <div class="span-1 prepend-2 append-2 last">
	{v:notification-receive.commentItem.input}
      </div>
    </div>

    <div class="span-14 append-bottom last">
      <div class="span-7 prepend-2">
	<img src="/public/icon/user_go.png"/> 
	{v:notification-receive.subscription.label}
      </div>
      <div class="span-1 prepend-2 append-2 last">
	{v:notification-receive.subscription.input}
      </div>
    </div>

    <div class="span-14 append-bottom last">
      <div class="span-7 prepend-2">
	<img src="/public/icon/user_red.png"/> 
	{v:notification-receive.myMembership.label}
      </div>
      <div class="span-1 prepend-2 append-2 last">
	{v:notification-receive.myMembership.input}
      </div>
    </div>

    <div class="span-14 append-bottom last">
      <div class="span-7 prepend-2">
	<img src="/public/icon/calendar_view_day.png"/> 
	{v:notification-receive.event.label}
      </div>
      <div class="span-1 prepend-2 append-2 last">
	{v:notification-receive.event.input}
      </div>
    </div>

    <div class="span-14 append-bottom last">
      <div class="span-7 prepend-2">
	<img src="/public/icon/comments.png"/> 
	{v:notification-receive.forum.label}
      </div>
      <div class="span-1 prepend-2 append-2 last">
	{v:notification-receive.forum.input}
      </div>
    </div>

    <div class="span-14 append-bottom last">
      <div class="span-7 prepend-2">
	<img src="/public/icon/chart_bar.png"/> 
	{v:notification-receive.poll.label}
      </div>
      <div class="span-1 prepend-2 append-2 last">
	{v:notification-receive.poll.input}
      </div>
    </div>

    <div class="span-14 append-bottom last">
      <div class="span-7 prepend-2">
	<img src="/public/icon/images.png"/> 
	{v:notification-receive.album.label}
      </div>
      <div class="span-1 prepend-2 append-2 last">
	{v:notification-receive.album.input}
      </div>
    </div>

    <div class="span-14 append-bottom last">
      <div class="span-7 prepend-2">
	<img src="/public/icon/group.png"/> 
	{v:notification-receive.group.label}
      </div>
      <div class="span-1 prepend-2 append-2 last">
	{v:notification-receive.group.input}
      </div>
    </div>

    <div class="span-14 append-bottom last">
      <div class="span-7 prepend-2">
	<img src="/public/icon/book_open.png"/> 
	{v:notification-receive.course.label}
      </div>
      <div class="span-1 prepend-2 append-2 last">
	{v:notification-receive.course.input}
      </div>
    </div>

    <div class="span-14 append-bottom last">
      <div class="span-7 prepend-2">
	<img src="/public/icon/email_add.png"/> 
	{v:notification-receive.message.label}
      </div>
      <div class="span-1 prepend-2 append-2 last">
	{v:notification-receive.message.input}
      </div>
    </div>

    <div class="span-14 append-bottom last">
      <div class="span-7 prepend-2">
	<img src="/public/icon/comment_add.png"/> 
	{v:notification-receive.item.label}
      </div>
      <div class="span-1 prepend-2 append-2 last">
	{v:notification-receive.item.input}
      </div>
    </div>

    <div class="span-14 append-bottom last">
      <div class="span-7 prepend-2">
	<img src="/public/icon/exclamation.png"/> 
	{v:notification-receive.pending.label}
      </div>
      <div class="span-1 prepend-2 append-2 last">
	{v:notification-receive.pending.input}
      </div>
    </div>

    <div class="span-14 append-bottom last">
      <div class="span-7 prepend-2">
	<img src="/public/icon/color_wheel.png"/> 
	{v:notification-receive.networkInvite.label}
      </div>
      <div class="span-1 prepend-2 append-2 last">
	{v:notification-receive.networkInvite.input}
      </div>
    </div>

  </div>
  <div class="span-3 prepend-8">
    <button type="submit" class="pretty-button typwidth">{t:save}</button>
  </div>
  <div class="span-3 last">
    <a class="pretty-button typwidth" href="{v:cancel}">{t:cancel}</a>
  </div>
  {v:notification-receive.end}
</div>

