<div class="info-box">
  <h3>Partage d'informations</h3>
  
  <p>
    Cette page détermine quelles informations de votre profil sont visibles par les organsiations dont vous êtes membre ou contact. 
  </p>
  
  <p>
    Vous pouvez définir des règles spécifiques à chaque organisation dans le menu <b>Mes Options</b> de cette organisation, onglet
    <b>Partage</b>. 
  </p>
  
  <p>
    Votre nom et votre photo seront toujours visibles par défaut.
  </p>
  
  <p>
    Pour en savoir plus, consultez notre <a href="http://runorg.com/privacy">charte de la vie privée</a>.
  </p>
</div>
