<div class="span-6">
  <img class="profile-pic" src="{v:picture}"/>
</div>
<div class="span-18 last">

  <div class="span-18 last">
    <div class="span-9">
      <h2>{v:fullname}</h2>
    </div>
    <div class="span-4 prepend-top view-label">{t:account.field.email}{t:colon}</div>
    <div class="span-5 prepend-top last">{v:email}&nbsp;</div>
  </div>
  <hr/>

  <div class="span-18 last append-bottom">
    <div class="span-4 view-label">{t:account.field.birthdate}{t:colon}</div>
    <div class="span-5">{v:birthdate}&nbsp;</div>
    <div class="span-4 view-label">{t:account.field.gender}{t:colon}</div>
    <div class="span-5 last">{v:gender}&nbsp;</div>
  </div>

  <div class="span-18 last">
    <div class="span-4 view-label">{t:account.field.address}{t:colon}</div>
    <div class="span-5">{v:address}&nbsp;</div>
    <div class="span-4 view-label">{t:account.field.city}{t:colon}</div>
    <div class="span-5 last">{v:city}&nbsp;</div>
  </div>
  <div class="span-18 last append-bottom">
    <div class="span-4 view-label">{t:account.field.zipcode}{t:colon}</div>
    <div class="span-5">{v:zipcode}&nbsp;</div>
    <div class="span-4 view-label">{t:account.field.country}{t:colon}</div>
    <div class="span-5 last">{v:country}&nbsp;</div>
  </div>
  <div class="span-18 last">
    <div class="span-4 view-label">{t:account.field.phone}{t:colon}</div>
    <div class="span-5">{v:phone}&nbsp;</div>
    <div class="span-4 view-label">{t:account.field.cellphone}{t:colon}</div>
    <div class="span-5 last">{v:cellphone}&nbsp;</div>
  </div>

</div>
