<div class="container">
  <div id="content" class="span-24 last append-bottom">{v:content}</div>
  <hr/>
  <div id="footer">
    <p class="small">
      © 2012 <a href="http://runorg.com">RunOrg</a> 
      {{foot: · 
      <a href="http://runorg.com/blog" target="_blank">Blog</a> · 
      <a href="http://runorg.com/contact" target="_blank">Contact</a> · 
      Suivez-nous sur <a href="http://www.facebook.com/RunOrg">Facebook</a> &amp; <a href="http://twitter.com/runorg">Twitter</a>
      }}
    </p>
  </div>
</div>
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/3L5a7Snd898mO9xpmGl0Vw.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
