{{items:
<div class="mini-pic-line">
  <img src="{v:picture}"/>
  <div class="-status">{v:status}</div>
  <a href="{v:url}">{v:name}</a>
</div>
}}
{{rest:
<div class="quiet">{v:text}</div>
}}
<style type="less">
.mini-pic-line {
  height: 20px;
  overflow: hidden;
  margin: 3px 0;
 
  > img {
    float: left;
    width: 20px;
    height: 20px;
  }

  > a {
    overflow: hidden;
    display: block;
    white-space: nowrap;
    line-height: 20px;
    font-weight: bold;
    margin-right: 4px;
    padding-left: 4px;
  }

  .-status {
    float: right;
    width: 95px;
  }
}
</style>
