<div class="container">
<div class="span-24 prepend-top last">
  <div class="span-17">

    <div class="span-17 last">
      <h3>Bienvenue,</h3>
      <p>
	<strong>{v:name}</strong> utilise un intranet collaboratif pour échanger avec ses membres et organiser des évènements et des activités. Vous pouvez rejoindre cet espace collaboratif pour vous tenir au courant des actualités de {v:name} et participer activement à la communauté.
      </p>
      <p>
	Cliquez sur l'un des accès disponibles ci-dessous pour commencer le processus d'inscription.
      </p>
    </div>

    <div class="span-17 last">
      {v:list}
    </div>

  </div>
  <div class="span-7 last append-bottom" style="text-align:center">    
    <img src="{v:picture}"/>
  </div>
</div>
