<div class="container">
<div class="span-24 prepend-top last">
  <div class="span-17">

    <div class="span-17 last">
      <h3>Merci&nbsp;!</h3>
      <p>
	Votre inscription à <strong>{v:name}</strong> doit maintenant être validée par un responsable. Vous serez prévenu par courrier électronique dès que ce sera le cas. Vous pourrez alors accéder à l'espace privé de l'association, en suivant le lien ci-dessous&nbsp;: 
      </p>
      <p style="text-align:center;font-size:16px">
	<a href="{v:url}">{v:url}</a>
      </p>
      <p>
	Vous pouvez également ajouter ce lien à vos favoris pour pouvoir facilement y retourner à l'avenir.
      </p>
      <p>
	Nous vous souhaitons une agréable utilisation de votre nouvel outil en ligne.<br/>
	<em>L'équipe RunOrg</em>
      </p>
    </div>

  </div>
  <div class="span-7 last append-bottom" style="text-align:center">    
    <img src="{v:picture}"/>
  </div>
</div>
