<h3>Devenir Membre</h3>
<div class="span-16 prepend-1 append-1 last">
  <p>
    <b>Vous n'êtes pas membre de cette organisation.</b> Si vous devenez membre&nbsp;:
  </p>
  <ul>
    <li>vous aurez un accès étendu à l'espace privé de cette organisation,</li> 
    <li>vous pourrez communiquer plus facilement avec ses membres,</li>
    <li>vous pourrez partager des photos et fichiers.</li>
  </ul>
  <p class="quiet">
    Les responsables de l'organisation peuvent refuser votre demande d'adhésion. 
  </p>
  <a class="pretty-button" href="{v:url}" style="float:right">Devenir membre</a>
</div>
