<div class="container">
<div class="span-24 prepend-top last">
  <div class="span-17">
    <h3>Bienvenue,</h3>
    <p>
      <strong>{v:name}</strong> utilise un intranet collaboratif pour échanger avec ses membres et organiser des évènements et des activités. 
    </p>
    <p>
      À la demande des responsable de <strong>{v:name}</strong>, il est impossible de s'inscrire directement en ligne sur l'intranet collaboratif. Nous vous invitons à prendre contact avec eux pour leur demander votre inscription.
    </p>
    <p>
      Merci de votre compréhension&nbsp;!
    </p>
  </div>
  <div class="span-7 last append-bottom" style="text-align:center">    
    <img src="{v:picture}"/>
  </div>
</div>
