.item { 
  font-size: 13px;
  padding: 20px 20px 12px;
  overflow: hidden;
  position: relative;

  .-top { 
    overflow: hidden; 
    margin-bottom: 8px;
  }

  .-side {
    color: #888;
    float: left;
    font-size: 11px;
    width: 170px;
    background-color: #EEE;
    padding: 9px 9px 7px;
  
    .-topblock {
      overflow: hidden;
      height: 50px;
      margin-bottom: 12px;
    }
  
    .-author {
      display: block;
      font-size: 13px;
      margin: 8px 0 2px;
    }

    img {
      float: left;
      width: 50px;
      height: 50px;
      margin-right: 8px;
    } 

    .-info {
      display: block;
      margin-top: 4px; 
      color: #888;
      text-align: center; 

      .-action {
        color: #888;
        &:hover { color: #AAA }
      }
    }
  }

  .-body {
    margin: -8px 0 0 186px;
    overflow: hidden;
    padding-left: 16px;
  }

  .-message {
    color: #333;
    font-size: 13px;
    padding: 0;
  }

  .-title {
    font-size: 15px;
    font-weight: bold;
    margin: 8px 0;
    color: #333;
  }

  .-comments {
    margin-top: 8px;
    padding-bottom: 1px;
  }

  .-comments .-more {
    padding: 6px;
    margin: 0 50px 8px;
    display: block;
    text-align: center;
    font-size: 12px;
    border: 1px solid #DDD;
  }
}
