.item { 
  font-size: 13px;
  padding: 20px;
  overflow: hidden;
  position: relative;

  .-actions a {
    color: #888;
  }

  > a img {
    width: 50px;
    height: 50px;
    margin: 0 8px 0 0;
    float: left;
  }

  .-body {
    overflow: hidden;
  }

  .-info {
    font-size: 12px;
    color: #888;
  }

  .-info .-author {
    text-decoration: none;
  }

  .-message {
    border-left: 3px solid #CCC;
    padding-left: 5px;
  }

  .-foot {
    font-family: "Arial", sans-serif;
    font-size: 10px;
    color: #888;
    height: 20px;
  }

  .-pictures {
    margin: 8px 5px;
    width: 599px;
    overflow: hidden;
  }

  .-pictures a {
    display: block;
    padding: 2px;
    float: left;
    width: 178px;
    margin-right: 10px;
    border: 1px solid #CCC;
  }

  .-pictures a:hover {
    border-color: #555;
  }

  .-pictures img {
    width: 178px;
    height: 128px;
    display: block;
  }

  .-file {
    border-left: 3px solid #CCC;
    background-color: #EEE;
    padding: 5px 5px 5px 10px;
    margin: 8px 0;
    line-height: 21px;
    height: 21px;
  }

  .-file .-download {
    float: right;
    margin: 0;
  }

  .-file .-filename {
    font-size: 14px;
    font-weight: bold;
    display: block;
    overflow: hidden;
    height: 21px;
  }

  .-file .-fileinfo {
    background: url(http://runorg.com/public/icon/page_white.png) left center no-repeat;
    padding-left: 20px;
    margin: 3px 20px; 
    color: #555;
    line-height: 16px;
    font-size: 11px;
    float: right;
  }

  .-comments {
    margin-top: 8px;
    padding-bottom: 1px;
  }

  .-comments .-more {
    margin-bottom: -1px;
    padding: 8px;
    display: block;
    border: 1px solid #CCC;
  }
}
