<div class="span-16 prepend-1 append-1 last">
  {{post:
  <div class="span-12 prepend-2 append-2 append-bottom last">
    <form action="" method="" class="broadcast-form -retracted">
      <label class="-body" for="broadcast-body">{t:broadcast.field.body}</label>
      <textarea id="broadcast-body"name="body"></textarea>
      <label class="-title" for="broadcast-title">{t:broadcast.field.title}</label>
      <input id="broadcast-title" type="text"/>
      <button type="submit" class="pretty-button typwidth">{t:broadcast.post}</button> 
    </form>
  </div>

  <script type="coffeescript" params="post_url">
    $title = $ '#broadcast-title'
    $body  = $ '#broadcast-body'
    $form  = @$.find '.broadcast-form'

    retract = (force) -> 
      $form.toggleClass '-retracted', !(force || $form.find('.-full').length) 

    full = (field,force) -> 
      v = $(field).val().length > 0 
      $(field).toggleClass '-full', force || v
      retract (force || v)
     
    $body.blur( () -> full @,false ).focus( () -> full @,true )
    $title.blur( () -> full @,false ).focus( () -> full @,true )

    $form.submit () =>
      title = $title.val().trim()
      body  = $body.val().trim()
      if title && body 
        full($title.val(""))
        full($body.val(""))        
        jog.post post_url, { title : title , body : body } , (result) => 
          return if !result.html
          $list = $ '#broadcast-list'
          do $list.find(".empty-list").remove
          $html = $(result.html).prependTo $list
          jog.call jog.extend(@,$html), result.code if result.code
      return false
  </script>

  <style type="less">
    .broadcast-form.-retracted {
      input, .-title, button { display : none ! important }
      textarea { height : 24px; } 
      .-body { height: 27px; }
      height : 36px; 
    } 

    .broadcast-form {
      background-color: #EEE;
      padding: 10px;
      position: relative;
      height: 200px;

      .-body {
        position: absolute;
        color: #888;
        left: 11px;
        bottom: 12px;
        background-color: white;
        padding: 3px;
        width: 441px;
        height: 153px;
      } 

      textarea {
        position: absolute;
        background-color: transparent;
        &.-full { background-color: white }
        width: 438px; 
        height: 150px;
        bottom: 10px;
        left: 10px;
        margin: 0;
      }

      button { 
        position: absolute; 
        top: 10px;
        right: 10px;
      }

      input[type="text"] { 
        background-color: transparent;
        &.-full { background-color: white }
        position: absolute;
        top: 10px;
        left: 10px;
        margin: 0;
        width: 316px;
        padding: 6px;
      }

      .-title {
        position: absolute; 
        top: 10px;
        left: 10px;
        color: #888;
        background-color: white;
        height: 16px;
        padding: 6px;
        width: 318px;
      }
    }
  </style>
  }}
  <div id="broadcast-list">
    {{list:
    <div class="-item{v:forwarded}">
      <div class="-img">
        <img src="{v:pic}"/>
	{{forward: 
	<a href="javascript:###.fwd('{v:id}')" class="-act minitip -s" title="{t:broadcast.forward}">
	  <img src="/public/icon/arrow_branch.png"/>
	</a>
	}}
	{{delete: 
	<a id="delete-{v:id}" href="javascript:###.del('{v:id}')" class="-act minitip -s" title="{t:broadcast.delete}">
	  <img src="/public/icon/cross.png"/>
	</a>
	}}		    
      </div>
      <div class="-body">
	<h3><a href="{v:url}">{v:title}</a></h3>
	<p>{v:text}</p>
	{{rss:<div class="from-rss"><a target="_blank" href="{v:url}">{v:url}</a></div>}}
      </div>
      <div class="-foot">
        <span class="-time">{v:time}</span>
	<span class="-name">{v:name}</span> 
      </div>
    </div>
    }}
  </div>
</div>

<script type="coffeescript" params="delete_url">
window.### = 
  del: (id) -> 

    jog.post delete_url, id
  
    $("#delete-"+id).closest(".-item").slideUp "fast", () ->
      $(@).remove() 

    return

  fwd: (id) -> console.log id ; return
</script>

<style type="less">
#broadcast-list .-item {
  overflow: hidden;
  clear: both;
  width: 550px;
  margin-bottom: 20px;

  h3 a { color: inherit } 
  
  .-img {
    float: left;
    margin-left: 14px;
    margin-right: 10px;
    width: 56px;
    text-align: center;

    > img {
      border: 1px solid #CCCCCC;
      padding: 2px;
    }

    a.-act {

      display:inline-block;
      padding:2px;

      img { display: block }
      
      &:hover {
        padding:1px;
        border:1px solid #CCC;
        background-color: #EEE;
      }
      
    }
  }

  .-foot { 
    margin-left: 80px;
    border-top: 1px solid #CCC; 
  }

  .-body {
    margin-left: 80px;
  
    h3 { font-size: 16px ; margin-bottom: 1em }
    p  { font-size: 11px ; margin-bottom: 1em } 
  }

  .-name {
    font-size: 11px;
    font-weight: bold; 
  }

  .-time {
    float: right;
    font-size: 10px;
    color: #888;
  }
}
</style>
