Bonjour {v:fullname},

{v:from} de {v:instance} vous invite à rejoindre l'espace privé et sécurisé utilisé pour la communication au sein de cette organisation.
{v:instance} utilise l'outil en ligne RunOrg pour la gestion de ses membres, activités et évènements.

Pour répondre aux messages, visualier les photos, participer aux évènements et aux sondages, créez votre compte en cliquant sur le lien ci-dessous :

{v:url}

--
Envoyé par {v:instance} via RunOrg.com


Pourquoi je reçois cet email ? http://runorg.com/help/reception-emails
Gérer les notifications que je reçois. http://runorg.com/help/modifier-notifications-emails
Ne plus recevoir de message de cette organisation. http://runorg.com/help/stop-email-org
Ne plus recevoir d'email de RunOrg. http://runorg.com/help/suppression-compte-runorg
