{i:mail-head}

<p>Bonjour {v:fullname},</p>

<p>{v:from} vous invite à rejoindre l'espace privé et sécurisé utilisé pour la communication au sein de <b>{v:instance}</b>.</p>

<p>{v:instance} utilise l'outil en ligne RunOrg pour la gestion de ses membres, activités et évènements.</p>

<p>Pour répondre aux messages, visualier les photos, participer aux évènements et aux sondages, créez votre compte en cliquant sur le lien ci-dessous&nbsp;:</p>

<center><a href="{v:url}">{v:url}</a></center>

{i:mail-foot-r} 
