Bonjour {v:fullname},

Vous avez demandé à ce que l'adresse électronique {v:new-email} soit associé à votre compte {v:old-email}. Pour confirmer votre demande, merci de cliquer sur le lien ci-dessous, ou l'ouvrir dans votre navigateur internet :

{v:url}

Si vous n'avez pas demandé l'association de {v:new-email} sur le site RunOrg.com, vous pouvez ignorer ce message.

--
Envoyé par RunOrg.com


Pourquoi je reçois cet email ? http://runorg.com/help/reception-emails
Gérer les notifications que je reçois. http://runorg.com/help/modifier-notifications-emails
Ne plus recevoir d'email de RunOrg. http://runorg.com/help/suppression-compte-runorg

