Bonjour {v:fullname},

Votre demande d'inscription sur le site RunOrg.com a bien été prise en compte. Afin de confirmer votre adresse électronique ({v:email}), veuillez ouvrir le lien ci-dessous dans votre navigateur internet:

{v:url}

Si vous n'avez pas demandé d'inscription sur le site RunOrg.com, vous pouvez ignorer ce message.

--
Envoyé par RunOrg.com


Pourquoi je reçois cet email ? http://runorg.com/help/reception-emails
Gérer les notifications que je reçois. http://runorg.com/help/modifier-notifications-emails
Ne plus recevoir d'email de RunOrg. http://runorg.com/help/suppression-compte-runorg

