<table width="500px" align="center" style="font-size:11px"><tr><td colspan="2">
      <table width="498px" style="border:1px solid #CCC"><tr><td>
	    <strong><a style="color:#88F;text-decoration:none" href="{v:from-url}">{v:from}</a></strong> {v:via} 
      </td></tr></table>
  </td></tr><tr><td>
      <h2 style="text-transform:uppercase;margin:5px 0 0 0"><a style="color:#FF7094;text-decoration:none" href="{v:url}">{v:title}</a></h2>
    </td><td style="text-align:right">
      <font color="#888" size="small">{v:time}</font>
  </td></tr><tr><td colspan="2">
      <p>{v:text}</p>
      <p><a style="color:#FF7094" href="{v:url}">Lire la suite.</a></p>
  </td></tr>
  {v:next}
</table>
