Bonjour, {v:fullname}. Ceci est un bref résumé des actualités des associations auxquelles vous êtes abonné(e).

Vous recevez cet e-mail car vous êtes abonné(e) à une ou plusieurs associations sur le réseau RunOrg. Si vous ne souhaitez plus recevoir ces résumés, cliquez sur ce lien : 

{v:unsubscribe}

{v:items}

--
Envoyé par RunOrg.com


Pourquoi je reçois cet email ? http://runorg.com/help/reception-emails
Gérer les notifications que je reçois. http://runorg.com/help/modifier-notifications-emails
Ne plus recevoir d'email de RunOrg. http://runorg.com/help/suppression-compte-runorg
