{i:mail-head}

<p style="color:#888;font-size:11px">Bonjour, {v:fullname}. Ceci est un bref résumé des actualités des associations auxquelles vous êtes abonné(e). Cliquez sur n'importe quel titre pour voir le détail de l'annonce.</p>

<p style="color:#888;font-size:11px">Vous recevez cet e-mail car vous êtes abonné(e) à une ou plusieurs associations sur le réseau RunOrg. Si vous ne souhaitez plus recevoir ces résumés, <a href="{v:unsubscribe}" style="color:#88F">cliquez ici.</a></p>
		      
{v:items}

{i:mail-foot-network}
