Bonjour {v:fullname},

{v:from} a ajouté à ses favoris sur {v:instance} un message de {v:author} pour lequel vous avez précédemment manifesté votre intérêt. Vous pouvez visualiser ce message à l'aide du lien suivant: 

{v:url}

--
Envoyé par {v:instance} via RunOrg.com


Pourquoi je reçois cet email ? http://runorg.com/help/reception-emails
Gérer les notifications que je reçois. http://runorg.com/help/modifier-notifications-emails
Ne plus recevoir de message de cette organisation. http://runorg.com/help/stop-email-org
Ne plus recevoir d'email de RunOrg. http://runorg.com/help/suppression-compte-runorg
