<div class="navbar">
  <div class="container">
    <div class="span-9 append-14 last">      
      <a href="http://runorg.com">RUN<strong>ORG</strong></a> / 
      <strong>{v:asso}</strong>	
    </div>
  </div>
  <div class="navbar-bottom">
  </div>
</div>

<div class="container">
  <div class="span-24 prepend-top append-bottom last" style="font-size: 14px; padding: 80px 0pt 20px">
    <center>
      <strong>Votre paiement n'a pas pu être effectué. Aucune somme n'a été prélevée.</strong>
      <br/>
      Merci de réessayer ultérieurement.
    </center>    
  </div>
  <div class="span-20 prepend-2 append-2 append-bottom last">
    <div class="span-3 prepend-17 last">
      <a href="{v:back}" class="typwidth pretty-button">{t:back}</a>
    </div>
  </div>
</div>
