<div class="span-18 last">
  <div class="span-12">
    {v:list}
  </div>
  <div class="span-6 last">
    {v:actions}
    &nbsp;
  </div>
</div>

<script type="coffeescript" params="url">

@$.find('.vote form').submit () -> 

  id = $(@).find('input[type="hidden"]').val()
  return false if !id

  answers = []
  $(@).find('input:checked').each () -> 
    answers.push parseInt($(@).attr('value'),10)

  jog.post url, {id:id,answers:answers}, (res) => 
    $(@).closest(".-answers").addClass("-answered") if res.ok

  false  

</script>
