<div class="span-16 append-bottom last">
  <div class="step">
    <span class="-num">{v:nth}</span>    
    <h3>{t:start.buy.text}</h3>
    <p>
      À la fin de votre période d'essai gratuite, si vous ne vous êtes pas abonné, nous vous offrons notre solution gratuite RunOrg Light&nbsp;: 30 membres, 50Mo de stockage, tous les membres ont des pouvoirs d'administrateur.
    </p>
    <button type="button" class="typwidth pretty-button" style="float:right"
	    onclick="runorg.start.hint('Buy')">
      {t:start.buy.action}
    </button>
  </div>
</div>
