<div class="span-16 append-bottom last">
  <div class="step">
    <span class="-num">{v:nth}</span>    
    <h3>{t:start.write.text}</h3>
    <p>
      Tous les membres recevront par mail les messages écrits sur le mur (même s'ils ne se sont pas encore connectés). Ils peuvent choisir de ne plus les recevoir.  
    </p>
    <button type="button" class="typwidth pretty-button" style="float:right"
	    onclick="runorg.start.hint('WritePost')">
      {t:start.write.action}
    </button>
  </div>
</div>
