{v:header}

<div class="container">
  <h1 class="splash-catalogue-title">Choisissez votre solution</h1>
  <h2 class="splash-catalogue-subtitle">Trouvez la solution adaptée à votre organisation</h2>
  <div class="span-6">
    <div class="splash-catalogue-leftmenu">
      <ul>
        <li><a href="#asso">Associations</a></li>
        <li><a href="#pro">Entreprises</a></li>
        <li><a href="#collec">Collectivités</a></li>
        <li><a href="#sport">Clubs de Sport</a></li>
        <li><a href="#fed">Fédérations</a></li>
        <li><a href="#ce">Comités d'Entreprise</a></li>
        <li><a href="#syndic">Copropriétés</a></li>
        <li><a href="#autre">Autre</a></li>
      </ul>
    </div>
  </div>
  <div class="span-18 last">
    <div id="empty" style="text-align:center;font-size:24px;margin:93px 0;color:#CCC;width:710px;position:absolute;z-index:-1">
      <span style="font-size:64px;vertical-align:top;line-height:30px;font-weight:bold">⇦</span> 
      Choisissez une catégorie ci-contre
    </div>
    {v:list}
  </div>
</div>

{v:footer}

<script type="coffeescript" params="">

do $('.catalog-box').hide

$.address.change (event) -> 

  sel = '#' + event.value.replace(/^\//,'')

  opened = $ '.catalog-box.-open'
  return if opened.is sel
  
  open = () ->
    $(sel).addClass('-open').fadeIn 'fast', () ->
      do $('#empty').hide

  $('a.-selected').removeClass('-selected');
  $('a[href="'+sel+'"]').addClass('-selected');
  
  if opened.length 
  then opened.removeClass('-open').fadeOut 'fast', open
  else do open

  return

</script>

<style type="less">
.splash-catalogue-leftmenu
{
	margin-top:20px;
	li{
		list-style:none;
		margin-bottom:5px;
		a {
			color:#E70074;
			font-size:14px;
			text-transform:uppercase;
			font-weight:bold;
			display:block;
			padding-left:5px;
			&.-selected { background-color: #FACCE3; }
			&:hover{ background-color:#FDE6F1; text-decoration:none; }
		}  
	}
}

h1.splash-catalogue-title{
	color: #111;
	text-transform: none;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 42px;
	line-height: 54px;
	text-shadow:#333 0px 1px 1px;
	margin: 20px 0 10px 0;
	text-align:center;
}

h2.splash-catalogue-subtitle{
	color: #666666;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-transform: none;
}
</style>
