{v:header}

<div class="container">
  <div class="span-24 last">
    
    <div class="span-19">
      <div class="span-18 last">
	
	<h1>{v:name}</h1>    
	
	{{subtitle: {v:text} }}
	
	{{slideshow:
	<div class="catalog-slideshow cycle">
	  {{images:
	  <img src="{v:url}"/>
	  }}
	</div>
	}}
	<div class="catalog-description">
	  {v:description}
	</div>
	<h3>{t:catalog.features}</h3>      
	{{features:
	<div class="catalog-features">{v:body}</div>
	}}
      </div>
    </div>
    
    <div class="span-5 prepend-top last">
      
      <div class="span-5 last append-bottom">
	<a class="go-button" href="{v:create-url}">{t:catalog.free-trial}</a>
      </div>
      
      {{subverticals:
      <div class="catalog-sub-verticals">
	<h3>{t:catalog.sub-verticals}</h3>
	<ul>
	  {{list:
	  <li><a href="{v:url}" class="-link">{v:label}</a></li>
	  }}
	</ul>
      </div>      
      }}	
      
      {v:help-us}
      
      {{pricing: {v:text} }}
      {{you-can: {v:text} }}
    </div>
    
  </div>
</div>
{v:footer}
    
