{i:r-breadcrumbs-0}
<div class="span-24 last">
  <div class="span-16 prepend-4 append-4 last">
    {v:help}
  </div>
  <div class="span-16 prepend-4 append-4 last small-entities">
    {{list:
    <a class="entity" href="{v:url}">
      {{img:<img src="{v:url}"/>}}
      <span class="-stats">{v:stats}</span>
      <span class="-name">{v:name}</span>
      <span class="-desc">{v:desc}</span>
    </a>
    }}
  </div>
</div>

{v:send}

<style type="less">
.small-entities .entity {
 
  > img {
    width: 20px;
    height: 20px;
  }

  .-name {
    font-size: 13px;
  }

  .-desc {
    display: none;
  }
}
</style>
