{{items:
<label class="mini-picker-line">
  <input type="checkbox" value="{v:id}"/>
  <img src="{v:picture}"/>
  <span>{v:name}</span>
</label>
}}
<style type="less">
.mini-picker-line {

  display: block;
  height: 20px;
  overflow: hidden;
  margin: 3px 0;

  input {
    float: left;
    margin-right: 6px;
  }
 
  > img {
    float: left;
    width: 20px;
    height: 20px;
  }

  span {
    overflow: hidden;
    display: block;
    white-space: nowrap;
    line-height: 20px;
    font-weight: bold;
    margin-right: 4px;
    padding-left: 4px;
  }
}
</style>
