<div class="span-18 prepend-3 append-3 prepend-top last">

  <div class="span-18 -filled" id="mbrImport">
    <div class="-input">
      <h3>1. {t:add.import.step-1}</h3>
      <div class="span-12">
	<div class="span-12 last append-bottom">
	  <label for="mbrImport-list">
	    denis.diderot@email.fr<br/>edmond.rostand@bergerac.org
	  </label>
	  <textarea id="mbrImport-list" style="width:455px">
	  </textarea>
	</div>
	<div class="span-3 prepend-9 last">
	  <button id="mbrImport-continue" type="button" class="pretty-button typwidth">{t:continue}</button>
	</div>
      </div>
      <div class="span-6 last">
	{v:help}
      </div>      
    </div>
    <div class="-check">
      <div id="mbrImport-check">
	<h3>2. {t:add.import.step-2}</h3>
        <a id="edit-title" title="{t:add.tip.edit}" style="display:none"></a>
	<table class="summary">
	  <thead><tr>
	      <td></td>
	      <td>{t:column.user-basic.email}</td>
	      <td>{t:column.user-basic.firstname}</td>
	      <td>{t:column.user-basic.lastname}</td>
	  </tr></thead>
	  <tbody></tbody>
	</table>
      </div>
      <div class="span-3 prepend-15 prepend-top last">
	<button id="mbrImport-act" type="button" class="pretty-button green-button typwidth">{t:member.add-or-invite.add}</button>
      </div>      
    </div>
  </div>

</div>

<script type="coffeescript" params="url">

  $component = $ "#mbrImport"
  $list      = $ "#mbrImport-list"
  $continue  = $ "#mbrImport-continue"
  $act       = $ "#mbrImport-act"
  $check     = $ "#mbrImport-check"

  imported = []

  fill = (filled) -> 
    filled = filled || $list.val().trim().length > 0
    $component.toggleClass "-filled", filled

  fill false

  $list.focus () -> fill true
  $list.blur  () -> fill false

  send = () -> 
    return

  email = (text) ->
    text.trim().toLowerCase()

  parse = () ->
    # Dis be clever parsing, bro!
    imported = []
    $.each $list.val().trim().split("\n"), (i,line) ->
      o = {l:""}
      $.each line.trim().split(/[\t;|<>]/), (i,cell) ->
        return if cell.trim().length == 0 
        return o.e = email cell if /@/.test cell
        return o.f = cell.trim() if !o.f
        return o.l = (o.l + " " + cell.trim()).trim()
      return if !o.e
      if !o.l && /[ ]/.test o.f
        split = o.f.split(" ")
        o.f = split.shift().trim()
        o.l = split.join(" ").trim()
      imported.push o

  check = () ->
    do parse
    return if !imported.length 
  
    html = []
    line = "<tr><td><a href='javascript:void(0)'></a></td><td><input type=text class=-email /></td><td><input type=text/></td><td><input type=text/></td></tr>"
    html.push(line) for i in imported

    $check.find("tbody").html(html.join "").find("input").each (i) ->
      o = i % 3
      i = (i - o) / 3
      $(@).val(imported[i][["e","f","l"][o]]) 

    $check.find("table a").click () ->
      do hide
      $(@).closest("tr").remove()
      if !$check.find("tbody tr").length
        $list.val("")       
        fill false
        $component.removeClass "-check"

    $component.addClass "-check"

    $tipsy = $check.find("input:first");

    $tipsy.tipsy
      fallback: $("#edit-title").attr "title"
      trigger: "manual"
      gravity: "nw"
      fade:    true

    hide = () -> 
      $tipsy?.tipsy "hide"
      delete $tipsy
    show = () -> $tipsy.tipsy "show"

    $tipsy.focus hide
    setTimeout hide, 6000      
    setTimeout show,  500

    send = () ->
      data = []
      $check.find("tbody tr").each () ->
        data.push [
          $(@).find("input:nth(0)").val().trim(),
          $(@).find("input:nth(1)").val().trim(),
          $(@).find("input:nth(2)").val().trim()
        ]
      $$.jog.post(url, data)
      do hide
      $component.html("").addClass("big-loading")

  $act.click () -> 
    do send

  $continue.click check

  return

</script>

<style type="less">
#mbrImport {

  .-input label {
    color: #888;
    padding: 5px 7px;
    display: block;
    position: absolute;
    font-family: "Helvetica","Arial",sans;
    font-size: 12px;
  }

  &.-filled {
    .-input label {
      display: none;
    }
  }

  .-check { display: none; }
  &.-check { .-check { display: block } .-input { display: none; } }
}

#mbrImport-list {
  height: 275px;
  margin: 0
}

#mbrImport-check {

  table {
    border-collapse: collapse; 
  }

  input {
    border: none;
    width: 207px;
    margin: 0px;
    padding: 8px 2px;
    font-family: Verdana, sans-serif;
    font-size: 10px;

    &:focus { background-color: #EEE; }
    &.-email { width: 250px }
  }

  thead td { padding: 0 4px }

  td {
    border: 1px solid #CCC;
    padding: 0;
   
    a {
      background: url("/public/icon/cross-grey.png") no-repeat scroll center center transparent;
      display: block;
      height: 28px;
      width: 28px;

      &:hover { background-image: url("/public/icon/cross.png") }
    }

  }
}

</style>
