<div class="span-6 append-bottom last">
  <h4><img src="/public/icon/page_excel.png" style="margin:-2px 0"/> Depuis un tableur</h4>
  <p style="text-align:justify">
    Créez trois colonnes <b>email</b>, <b>prénom</b> et <b>nom</b>, dans cet ordre, puis sélectionnez-les et copiez-collez leur contenu dans la case ci-contre.
  </p>
  <h4><img src="/public/icon/book_addresses.png" style="margin:-2px 0"/> Depuis un carnet d'adresses</h4>
  <p style="text-align:justify">
    Vous pouvez également utiliser le format&nbsp;:<br/>
    <strong>Prénom Nom &lt;adresse@email.com&gt;</strong>
  </p>
  <h4><img src="/public/icon/tick.png" style="margin:-2px 0"/> Validation préalable</h4>
  <p style="text-align:justify" class="bottom">
    Vous pourrez vérifier et corriger la liste des membres avant leur inscription.
  </p>
</div>
