<div id="mbrSearch">
  
  <div class="span-18">
    
    <div class="span-18 last">
      <div style="float:right;margin:-2px 5px">
	<label>
	  {t:search}{t:colon}
	  <input id="mbrSearch-input" type="text"/>
	</label>
      </div>
      <h3 style="margin: 5px 0 15px">{t:add.search.title}</h3>
    </div>
    
    <hr/>
    
    <div id="mbrSearch-list">
    </div>
    
  </div>
  
  <div class="span-6 last">
    
    <div class="span-6 append-bottom last">
      <ul id="mbrSearch-selected">    
      </ul>
    </div>
    
    <div class="span-3">
      <button type="button" id="mbrSearch-invite" class="pretty-button blue-button  typwidth">{t:member.add-or-invite.invite}</button>
    </div>
    
    <div class="span-3 last">
      <button type="button" id="mbrSearch-add"    class="pretty-button green-button typwidth">{t:member.add-or-invite.add}</button>
    </div>
    
  </div>
</div>

<script type="coffeescript" params="add_url, search_url">

$input = $ '#mbrSearch-input'
$list  = $ '#mbrSearch-list'

esc = (text) ->
  $('<div></div>').text(text).html()

render_list_item = (item) -> 
  [ '<a href="javascript:###.pick(\'',item.id,'\')" class="item"><img src="',item.img,'"/>',
    '<span class="-name">',esc(item.name),'</span>',
    '<span class="status ',item.status_css,'">',item.status,'</span>',
    '</a>' ]

render_selected_item = (item) ->
  [ '<li>',
    '<a onclick="$(this).parent().remove()"></a>',
    '<input type="hidden" value="',item.id,'">',
    '<img src="',item.img,'"/>',
    '<strong>',esc(item.name),'</strong>',
    '</li>' ]

parse = () ->
  ids = []
  $('#mbrSearch-selected input').each () ->
    ids.push $(@).val()
  ids

$$.### = 
  pick: (id) ->
    selected = parse()
    return if $.inArray(id,selected) > -1
    item = items[id]
    $('#mbrSearch-selected').append(render_selected_item(item).join(""))    
    return 

items = {}
seeking = false
current = null

render = (list) ->
  list.length = 12 if list.length > 12
  html = [] 
  items[item.id] = item for item in list
  html = html.concat render_list_item(item) for item in list
  $list.html(html.join(""))

seek = () ->
  return if seeking
  sought = $input.val().trim()
  return if sought == current
  
  $list.html("").addClass("big-loading")

  seeking = true
  jog.post search_url, sought, (result) ->
    seeking = false
    if $input.val().trim() == sought 
      $list.removeClass("big-loading")
      current = sought
      render result.list
    else
      do seek 

$input.change(seek).keyup(seek) 

do seek

send = (mode) ->
  selected = parse()
  return if !selected.length
  $('#mbrSearch').html("").addClass("big-loading")  
  jog.post add_url, { mode : mode, list : selected }

$('#mbrSearch-add').click () -> send "add"
$('#mbrSearch-invite').click () -> send "invite"
				  
</script>

<style type="less">

#mbrSearch-selected { 
  min-height: 198px ;
  padding: 5px;
  background-color: #EEE;
  margin: 0px;
  list-style-type: none;

  li {
    height: 20px;
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 4px;

    a {
      display: inline-block;
      height: 20px;
      width: 20px;
      margin: -5px 0;
      background: url(/public/icon/cross-grey.png) center center no-repeat;
      &:hover { background-image: url(/public/icon/cross.png) }
    }

    img {
      width: 20px;
      height: 20px;
      margin: -5px 4px;
    }
  }
}

#mbrSearch-list {

  width: 712px;
  
  .item {

    display: block;
    border: 1px solid #CCC;
    border-radius: 3px;
    float: left;
    padding: 2px;
    width: 166px;
    margin: 0 6px 6px 0;  

    &:hover {
      text-decoration: none;
      background-color: #EEE;
    }

    span {
      width: 119px;
      display: block;
      overflow: hidden;
      white-space: nowrap;

      &.-name {
        line-height: 21px;
        font-weight: bold;
      }
    }    

    img {
      float: left;
      height: 40px;
      width: 40px;
      margin-right: 5px;
    }
  }
 
}

</style>
