.progress {
  background-color: #333;
  box-shadow: 2px 2px 3px #111 inset;
  padding: 1px;
  border: 1px solid #555;
  display: inline-block;
  height: 18px;
  margin-left: 100px;
  vertical-align: middle;
  width: 200px;
  span {
    box-shadow: 1px 1px 1px #5D5 inset, -1px -1px 1px #1A1 inset;
    background-color: #3B3;
    background: -moz-linear-gradient(top, #4C4, #2A2);
    background: -webkit-linear-gradient(top, #4C4, #2A2);
    height: 18px;
    display: block;
    font-size: 11px;
    overflow: hidden;
    line-height: 18px;
    text-align: right;
    color: white;
    text-shadow: 0 -1px 0 #006600;
  }
}

