{i:splash-title-fr}

<div class="is-sondage">        
<div id="white">
  <div class="container">

    <div class="span-24 last prepend-top">
      
      <div class="big-page span-16 prepend-4 append-4 last">
	<h2>Le Sondage Runorg</h2>
	<h3>Votre avis nous intéresse !</h3>
	<p>Il n’existe aujourd’hui aucune étude portant spécifiquement sur la situation et les besoins des associations en communication et en outils numériques. C’est pourquoi, dans le cadre du projet RunOrg, nous organisons un sondage traitant de ces questions.</p>
	
	<div id="bouton-participe" style="margin:1em auto"><a href="/sondage?ref=splash" title="Participer au sondage">Je participe !</a></div>      

	  <p>Ce sondage a pour but de mieux connaître vos attentes en termes de services et de moyens de communications pouvant être proposés par les associations  (club de sport, association culturelle, syndicat, association d'aide aux personnes, association de défense d'intérêts (consommateurs, parents d'élèves, patrimoine, etc.), association professionnelle, association religieuse, etc.</p>
	  
	  <p>Les résultats de cette étude intéresseront les responsables du secteur associatif en les aidant à se situer par rapport aux pratiques numériques actuellement constatées. Cette analyse détaillée leur permettra également d’anticiper les besoins de leurs membres en termes d’outils de communication.
	    Pour nous aider à collecter un maximum de réponses, nous vous remercions de répondre vous-même à ce sondage et de le diffuser auprès de vos contacts susceptibles d'être intéressés ainsi qu'au sein de vos associations. Cela prendra 10 minutes environ.</p>
	  
	  <p>Vos réponses resteront anonymes et confidentielles. Elles seront traitées de façon globale et ne seront utilisées qu’à des fins statistiques.</p>
	  
	  <p>Les résultats de cette étude seront publics et disponibles gratuitement. Afin de les recevoir, nous vous invitons à laisser votre adresse email a la fin de ce sondage.</p>
      
      <p>Si vous êtes responsable d'association et que les réponses de vos membres à ce sondage pourraient vous intéresser (elles seront anonymisées) : écrivez-nous à contact@runorg.com et nous vous enverrons un lien spécial à leur diffuser.</p>
	  
	  <p>L’équipe RunOrg</p>
	  
	  {i:viral-sondage}
	</div>
      </div>
    </div>
  </div>
</div>

  {i:splash-foot-fr}
</div>
