{i:splash-title-fr}

<div class="container splash-about">   
  <h1><em>Run</em> your <em>Org</em>anization</h1>
  <h2>Un petit historique sur la genèse de la plateforme</h2>  
  <div class="span-16 prepend-top prepend-4 append-4 last -the-text">
    <p>
      <strong>L'équipe de RunOrg voit le jour en 2010 au sein d'une association de théâtre d'improvisation</strong> où Mehdi, Victor et François s'occupent de nombreux aspects techniques et administratifs, adaptant différents outils en ligne pour la communication et l'organisation.
    </p>
    <p>
      Alors que les réseaux sociaux font partie du quotidien de quelques 750 millions de personnes, ils se demandent     
      <span class="-float-right">
	Pourquoi n'existe-t-il pas d'outil dédié à la gestion d'une association&nbsp;?
      </span>
      <strong>pourquoi il n'existe pas d'outil simple et efficace dédié à la gestion d'une association.</strong> Ils commencent alors à travailler sur ce qui va devenir RunOrg.
    </p>
    <p>
      Analysant les différents problèmes qui se posent dans les organisations, ils découvrent rapidement que le meilleur moyen d’alléger la charge de travail des responsables est d’impliquer les membres dans leurs outils de gestion. Ils comprennent également que les membres doivent trouver un intérêt à participer dans ces outils. Or, leur principale demande est de pouvoir s’exprimer dans des espaces de communication simples et ludiques comme le sont les réseaux sociaux. Les objectifs à atteindre pour ce projet étaient définis&nbsp;: il fallait <strong>réussir à faire coexister dans une même solution des outils de gestion et de communication.</strong>
    </p>
    <p>
      En 2011, s'appuyant sur leurs expertises techniques et fonctionnelles, ils atteignent leur objectif&nbsp;: RunOrg, un outil hybride <strong>répondant aux besoins des responsables comme des membres</strong>,
      <span class="-float-left">
	Faire coexister outils de gestion et de communication dans une solution unique.
      </span>
      est enfin prêt. La première plateforme regroupant fonctionnalités de gestion et de communication est mise en ligne.
    </p>
    <p>
      L'aventure et les découvertes ne s'arrêtent pas là. Car conçu pour répondre à la grande diversité des problématiques des associations, <strong>leur outil permet d'assembler et de configurer très facilement des réponses sur mesure pour un très grand nombre de cas</strong>. Et cela pour un coût très faible car il mutualise les développements. C’est désormais toutes les organisations qui peuvent bénéficier de ce regroupement des fonctionnalités de gestion et de communication.
    </p>
    <p>
      <strong>RunOrg devient ainsi la seule plateforme à pouvoir offrir à de nombreux types de structures un outil qui leur est spécialement dédié et à un prix aussi accessible.</strong> Sans les solutions «&nbsp;préconfigurées&nbsp;» RunOrg, de nombreuses organisations ne pourraient pas s’équiper d’un outil performant et adapté à leurs besoins.
    </p>
    <p>
      L’équipe poursuit ses développements et l’accompagnement de ses clients, et avec eux, <strong>élabore régulièrement de nouvelles applications pour leur plateforme.</strong>
    </p>    
  </div>
  <h2>Les trois fondateurs</h2>
  <div class="span-24 prepend-top append-bottom last">

    <div class="span-8 wall-item">
      <span class="-pic">
	<img src="http://ro-pics.s3.amazonaws.com/1UodW0cC54p/s/6b3f61.png">
      </span>
      <div class="-body">
	<strong>Mehdi Foughali</strong>&ensp;
	<span class="-role">Co-gérant, directeur commercial</span>
	<div class="-text">
	  <p>
	    Mehdi a deux vies, qu’il a mené en parallèle et que RunOrg permet de regrouper : la professionnelle et l’associative.
	  </p>
	  <p>
	    De sa vie associative, on peut dire qu’il fait partie d’associations depuis sa plus tendre enfance&nbsp;: des associations sportives, puis militantes, étudiantes et culturelles. Il a occupé diverses fonctions&nbsp;: secou&shy;riste, responsable de la communication, animateur radio, administrateur du Bureau des arts de Sciences Po et président d’une association d’improvisation. Aujourd’hui, il ne garde qu’un seul mandat&nbsp;: administrateur de la chambre des asso&shy;ciations pour faire bénéficier les autres de son expérience.
	  </p>
	  <p>
	    Côté professionnel, après avoir été diplômé de l’IUP de gestion et de management de l’université Pierre Mendès France à Grenoble, avoir passé un an d’échange à l’Université of California Santa Barbara, il a rejoint Sciences Po Paris. Il s’est ensuite spécialisé dans les outils informatiques de gestion de la relation client qu’il a mis en place en tant que consultant dans plusieurs grands groupes. Fort de son expérience dans la gestion des projets informatiques et de sa connaissance des problé&shy;matiques du monde associatif et des organisations, il contribue activement à leur rendre la plateforme RunOrg pratique et efficace.</p>
	</div>
	<div class="tool">
	  <img src="/public/icon/user_gray.png"/> 15 Oct 2010
	  · <a class="reply" href="http://www.linkedin.com/profile/view?id=3103873">LinkedIn</a>
	  · <a class="reply" href="http://fr.viadeo.com/fr/profile/mehdi.foughali">Viadeo</a>
	</div>
      </div>  
    </div>

    <div class="span-8 wall-item">
      <span class="-pic">
	<img src="http://m4.licdn.com/mpr/mpr/shrink_100_100/p/1/000/06b/0b0/13724a0.jpg">
      </span>
      <div class="-body">
	<strong>Victor Nicollet</strong>&ensp;
	<span class="-role">Co-gérant, directeur technique</span>
	<div class="-text">
	  <p>
	    Lycéen puis classes préparatoires MP* au Lycée Louis Le Grand, Victor rejoint la prestigieuse École Normale Supérieure. Pendant quatre ans rue d'Ulm, il étudie les mathématiques, l'informatique, l'éco&shy;nomie, la psychologie expérimentale, les neuro&shy;sciences cognitives... et finit ses études avec, outre le diplôme de normalien, un Master de politique économique et un Master de recherche en informatique.
	  </p><p>
	    Il accepte ensuite de rejoindre une SSII à un poste d'encadrement technique pour compléter sa for&shy;mation théorique par des cas pratiques et concrets, et pour s'initier à la gestion de projet et au mana&shy;gement d'équipes.
	  </p><p>
	    Membre et actuellement secrétaire d'une asso&shy;ciation d'improvisation, il co-fonde RunOrg et met au service du projet ses compétences dans la réalisation de systèmes informatiques complexes.
	  </p>
	</div>
	<div class="tool">
	  <img src="/public/icon/page_white_cup.png"/> 15 Oct 2010
	  · <a class="reply" href="http://www.linkedin.com/profile/view?id=34221724">LinkedIn</a>
	  · <a class="reply" href="https://github.com/VictorNicollet">GitHub</a>
	  · <a class="reply" href="http://stackoverflow.com/users/236047/victor-nicollet">Stack Overflow</a>
	</div>
      </div>  
    </div>

    <div class="span-8 wall-item last">
      <span class="-pic">
	<img src="https://graph.facebook.com/100001799712806/picture">
      </span>
      <div class="-body">
	<strong>François Villard</strong>&ensp;
	<span class="-role">Responsable communication</span>
	<div class="-text">
	  <p>
    	Plus jeune des trois, François fait partie de cette génération qui a bloqué la ligne téléphonique de ses parents à l'arrivée des premiers forfaits d'internet illimité. Fasciné tant par l'informatique que la vidéo, il passe un DUT de Communication Multimédia en Auvergne, qu'il approfondira par différents stages, où il intègrera des équipes de test logiciel puis de création web.
	  </p>
    <p>
    	Désireux de creuser davantage le côté vidéo de sa formation, il emménage sur Paris pour une Licence d'Arts du spectacle, option Cinéma. Là, il rejoint une association d'improvisation et prend en main sa communication web et papier, mais ressent un gros manque dès qu'il s'agit de communication interne. Tandis qu'il commence à envisager un outil spécifique, deux de ses collègues lui parlent de RunOrg...
    </p>
	</div>
	<div class="tool">
	  <img src="/public/icon/world_go.png"/> 15 Oct 2010
	</div>
      </div>  
    </div>

  </div>
</div>

<style type="less">
.splash-about {

  h1 {
    color: #111;
    text-transform: none;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 42px;
    line-height: 54px;
    text-shadow:#333 0px 1px 1px;
    margin: 20px 0 10px 0;
    text-align:center; 
  
    em {
      font-style: normal;
      text-shadow: #888 0 1px 2px;
      color: #E70074;
    }
  }

  h2 {
    text-align: center;		  
    color: #666;
    font-size: 20px; 
  }

  .wall-item .-body {
    width: 250px;
  }

  .-the-text p { 
    font-size : 13px;
    text-align: justify;
  }

  .-float-left, .-float-right { 
    display: block;
    margin : 10px 30px;
    width : 240px;
    color : #AAA;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
  }

  .-float-left {
    float: left;
    margin-left: -80px;
    text-align: left;
  }

  .-float-right {
    float: right;
    margin-right: -80px;
    text-align: right;
  }
}
</style>

{i:splash-foot-fr}

