{i:splash-title-fr}

<div class="is-invite">    
<div id="white">
  <div class="container">
    <div class="span-24 prepend-top last">

      <div class="span-6 append-1">
	{i:splash-menu-product-fr}
      </div>

      <div class="span-15 append-2 last">	
	<h3>Merci de votre intérêt pour notre solution&nbsp;!</h3>
	<p>
	  Nous sommes actuellement dans une ultime phase de tests. Pour vous permettre de nous rejoindre gratuitement, nous avons créé une association &laquo; Utilisateurs de RunOrg &raquo; à laquelle vous pouvez vous inscrire en cliquant sur le lien suivant :
	</p>
	<p style="text-align:center;font-size:1.2em"><a href="http://membres.runorg.com/join">http://membres.runorg.com/join</a></p>
	<p>
	  Nous confirmerons votre inscription et prendrons contact avec vous dans les plus brefs délais. 
	</p>
	<p>
	  Si vous avez des questions plus spécifiques, vous pouvez prendre contact avec nous à l'adresse <script type=text/javascript>
		var name = "contact" ;
		var domain = "runorg.com" ;
		document.write('<a href=\"mailto:' + name + '@' + domain + '\">') ;
		  document.write(name + '@' + domain + '</a>') ;</script>.
	</p>
	<p>
	  Si vous préférez attendre la fin des tests et le lancement officiel, abonnez-vous à notre newsletter&nbsp;: nous vous préviendrons dès que possible.
	</p>
	<p>A très vite,<br /><em>L'équipe RunOrg</em></p>
      </div>

    </div>    
  </div> 
</div>

  {i:splash-foot-fr}
</div>

