{i:splash-title-fr}
<div class="cadre-bkg">
  <div class="container" style="min-height:600px"> 
    <div class="span-20 prepend-2 append-2 last">
      <div class="cadre-page">

	<h2>Catalogue</h2>
	<div class="span-19 last">
        <ul class="verticals-catalogue">
        
            <li>
                <a class="vertical" href="/catalog/index" style="background-image:url(/public/catalog/standard-right.png)">
                <span class="-title">RunOrg Standard</span>
                <span class="-summary">Configuration généraliste, à utiliser si aucune autre configuration ne vous correspond.</span>
                </a>
            </li>
            
            <li>
                <a class="vertical -right" href="/catalog/logiciel-intranet-communautaire-club-association-multi-sports" style="background-image:url(/public/catalog/multisport-left.png)">
                <span class="-title">Club multi-sports</span>
                <span class="-summary">Les membres peuvent pratiquer un ou plusieurs sports différents.</span>
                </a>
            </li>
            
            <li>
                <a class="vertical" href="/catalog/logiciel-intranet-communautaire-club-association-sports" style="background-image:url(/public/catalog/sport-right.png)">
                <span class="-title">Club de sport</span>
                <span class="-summary">Association sportive mono-sport, si votre sport n'a pas une préconfiguration dédiée.</span>
                </a>
            </li>
            
            <li>
                <a class="vertical -right" href="/catalog/logiciel-intranet-association-etudiante-bde" style="background-image:url(/public/catalog/etudiant-left.png)">
                <span class="-title">Association étudiante</span>
                <span class="-summary">Adhésions BDE, gestion de rentrée, clubs, soirées étudiantes.</span>
                </a>
            </li>
            
            <li>
                <a class="vertical" href="/catalog/logiciel-intranet-organisation-evenements-soirees" style="background-image:url(/public/catalog/events-right.png)">
                <span class="-title">Organisation d'évènements</span>
                <span class="-summary">Conserve une liste de participants d'un événement sur l'autre.</span>
                </a>
            </li>
            
            <li>
                <a class="vertical -right" href="/catalog/logiciel-intranet-communautaire-club-association-judo" style="background-image:url(/public/catalog/judo-jujitsu-left.png)">
                <span class="-title">Club de judo et jujitsu</span>
                <span class="-summary">Associations de pratique du judo et du jujitsu.</span>
                </a>
            </li>
            
            <li>
                <a class="vertical" href="/catalog/logiciel-intranet-club-football-americain-cheerleading" style="background-image:url(/public/catalog/football-us-right.png)">
                <span class="-title">Football américain et cheerleading</span>
                <span class="-summary">Associations de pratique du football américain et du cheerleading.</span>
                </a>
            </li>
            
            <li>
                <a class="vertical -right" href="/catalog/logiciel-intranet-salle-de-sport-coaching-sportif-coach" style="background-image:url(/public/catalog/salle-sport-left.png)">
                <span class="-title">Salle de sport et Coaching sportif</span>
                <span class="-summary">Suivi et coaching des membres d'une salle de sport.</span>
                </a>
            </li>
            
            <li>
                <a class="vertical" href="/catalog/logiciel-intranet-association-theatre-improvisation" style="background-image:url(/public/catalog/impro-right.png)">
                <span class="-title">Théâtre d'Improvisation</span>
                <span class="-summary">Organisation de matches, de spectacles et d'entraînements.</span>
                </a>
            </li>
          
            <li>
                <a class="vertical -right" href="/catalog/logiciel-intranet-association-ESS-economie-sociale-solidaire" style="background-image:url(/public/catalog/socio-solidaire-left.png)">
                <span class="-title">Association Economie Sociale et Solidaire</span>
                <span class="-summary">Une préconfiguration pour associations de l'économie sociale et solidaire.</span>
                </a>
            </li>
          
        </ul>
	</div>
      </div>
    </div>
  </div>
</div>
{i:splash-foot-fr}

<style type="less"> 
ul.verticals-catalogue li{
	list-style:none;
	
  a.vertical{
	background:url("/public/catalog/impro-flat.png") no-repeat scroll 100% 0% #FFF;
	height:75px;
	padding:0 245px 0 0;
	text-align:right;
    &.-right{
	  background-position:0% 0%;
	  text-align:left;
	  padding:0 0 0 245px;
	}
	.-title{
		margin-top:13px;
	}
  }
}
</style>
