{i:splash-title-fr}
    
<div class="is-engagements">
<div id="white">
  <div class="container">
    <div class="span-24 prepend-top last">

      <div class="span-6 append-1">
	{i:splash-menu-about-fr}
      </div>
      
      <div class="span-15 append-2 last">	
	<h3>Être d'abord responsable devant vous</h3>
	<p>Plutôt que de nous lancer dans de grandes annonces d'intentions invérifiables car trop éloignées, nous voulons nous attacher à d'abord nous préoccuper de ce qui est le plus proche de nous, c'est-à-dire vous !</p>
	<p>Pour vous qui utilisez RunOrg dans le cadre d'une association, qui êtes bénévole et bien souvent déjà surchargé de responsabilités, de travail ou d'activités, il est de notre responsabilité d'avoir une démarche d'entreprise citoyenne, éthique et volontaire.</p>
	<p>Dans nos relations avec vous cela veut dire notamment :</p>
	<ul>
	  <li><strong>Respecter la confidentialité de vos données</strong> - Ne pas les vendre ou les transmettre à des tiers sans votre accord, ne rien publier en votre nom sur des réseaux sociaux ou sur Internet sans une action explicite de votre part.</li>
	  <li><strong>Écouter vos besoins</strong> - Être attentifs à vos attentes, mettre en place des outils et des démarches pour que vous puissiez nous expliquer vos besoins, et cela pour que nous trouvions les meilleurs moyens d'y répondre dans notre solution.</li>
	  <li><strong>Répondre à vos questions</strong> - Répondre à tous vos emails et messages dans des délais raisonnables.</li>
	  <li><strong>Vous proposer les meilleurs tarifs possibles</strong> - Les associations ayant dans la grande majorité des cas des budgets limités, nos tarifs doivent rester les plus compétitifs possibles et ne pas connaître d'augmentations soudaines et importantes.</li>
	  <li><strong>Vous aider à développer votre association</strong> - En vous fournissant un maximum d'informations et de prospectives sur comment utiliser RunOrg dans les différents contextes qui peuvent être les vôtres, nous cherchons à vous aider à développer votre association. &Eacute;galement en vous vous faisant partager nos réflexions et les meilleurs pratiques dans les associations que nous rencontrons.</li>
	  <li><strong>Avoir des échanges francs et honnêtes avec vous</strong> - Vous communiquer les bugs que l'on peut détecter, vous informer si nous avons commis des erreurs.</li>
	  <li><strong>Protéger vos données et celles de vos membres</strong> - Mettre en oeuvre des moyens de protéger vos données à la fois contre le piratage, mais également contre la destruction.</li>
	  <li><strong>Vous permettre de nous quitter facilement et avec vos données</strong> - Cela veut dire que si un jour vous n'êtes plus satisfait de nos produits, et bien vous pouvez exporter vos données pour les utiliser ailleurs et/ou autrement.</li>
	</ul>
	
      </div>
    </div>
  </div>
</div>
    
  {i:splash-foot-fr}
</div>
