{i:splash-title-fr}
<script type="coffeescript" params="">
$(".youtube").colorbox({iframe:true, innerWidth:425, innerHeight:344}) 
</script>
    
<div style="height:0px; width:0px; overflow:hidden">
  <img src="public/img/logo-square.png"/>
</div>

<div class="container">
	<div class="span-17">
    <h1 class="splash-title2">L'intranet de votre organisation</h1>
    <h2 class="splash-subtitle2">Gérez facilement et depuis un seul outil<br />la communication et l'organisation</h2>
    <h3 class="splash-videos">Voir une vidéo : <a title="Pourquoi RunOrg ?" href="http://www.youtube.com/embed/9jTL4VQPsmc?rel=0&amp;wmode=transparent" class="youtube cboxElement"><span style="color:#666">Pourquoi RunOrg ?</span></a></h3>
     
  </div>
  
  <div class="span-7 last" style="text-align:center; font-size:14px">
   <a href="/start/1/v:simple" class="go-button" style="margin-top:30px;">Essayer gratuitement</a>
   <p><a href="/pricing">Voir les options et tarifs</a></p>
   <p style="color:#999"><strong>RunOrg est utilisé<br />pour gérer <span style="color:#000">{v:contacts}</span> membres</strong></p>
  </div>
  
<hr />
  
  <div class="prepend-1 span-6 append-1">
  	<img src="/public/img/splash-slide-01-1.png" class="splash-slides-img" />
    <h3 class="splash-slides">Espace d'échange privé</h3>
  </div>
  
  <div class="prepend-1 span-6 append-1">
  	<img src="/public/img/splash-slide-02-1.png" class="splash-slides-img" />
    <h3 class="splash-slides">Gestion de membres</h3>
  </div>
  
  <div class="prepend-1 span-6 append-1 last">
  	<img src="/public/img/splash-slide-03-1.png" class="splash-slides-img" />
    <h3 class="splash-slides">Outil de communication</h3>
  </div>

<hr />

 <div class="span-24 last">
 	<div class="span-2 prepend-1 append-1">
    <a href="/catalog#asso"><img src="/public/img/icon-org.png" alt="Association" /></a>
    <h3 class="splash-icones"><a href="/catalog#asso">Associations</a></h3>
  </div>
  <div class="span-2 prepend-1 append-1">
  	<a href="/catalog#collec"><img src="/public/img/icon-collectivite.png" alt="Collectivités" /></a>
    <h3 class="splash-icones"><a href="/catalog#collec">Collectivités</a></h3>
  </div>
  <div class="span-2 prepend-1 append-1">
  	<a href="/catalog#pro"><img src="/public/img/icon-entreprise.png" alt="Entreprise" /></a>
    <h3 class="splash-icones"><a href="/catalog#pro">Entreprises</a></h3>
  </div>
  <div class="span-2 prepend-1 append-1">
  	<a href="/catalog#sport"><img src="/public/img/icon-sport-club.png" alt="Club de sport" /></a>
    <h3 class="splash-icones"><a href="/catalog#sport">Clubs de sport</a></h3>
  </div>
  <div class="span-2 prepend-1 append-1">
  	<a href="/catalog#syndic"><img src="/public/img/icon-syndic.png" alt="Syndic de copropriété" /></a>
    <h3 class="splash-icones"><a href="/catalog#syndic">Syndics de copropriété</a></h3>
  </div>
  <div class="span-2 prepend-1 last">
  	<a href="/catalog/logiciel-intranet-ce-comites-entreprise"><img src="/public/img/icon-cravate.png" alt="Comité d'entreprise" /></a>
    <h3 class="splash-icones"><a href="/catalog/logiciel-intranet-ce-comites-entreprise">Comités d'entreprise</a></h3>
  </div>
 </div>

<hr />

  <div class="span-24 last">
    <div class="span-8">
      <h3 class="splash-colonnes">RunOrg a changé leur vie</h3>
      <h4 class="splash-commentaire">Facile à utiliser</h4>
      <p class="splash-quote">"L’interface de l’outil est agréable et facile à prendre en main. Et en plus c’est ludique ! Mes membres y accèdent même depuis leurs smartphones."</p>
      <p class="splash-quote-assign">Frédéric Roualen - &Eacute;quipe de France féminine de Judo</p>
      
      <h4 class="splash-commentaire">Je gagne du temps</h4>
      <p class="splash-quote">"Grâce à RunOrg j’ai pu récupérer très rapidement les informations des participants, les mini-sondages sont parfaits pour planifier des réunions."</p>
      <p class="splash-quote-assign">Antoine Pierchon - Président de la Fédé B</p>
      
      <h4 class="splash-commentaire">Je peux enfin déléguer</h4>
      <p class="splash-quote">"RunOrg me permet de confier l’administration des cours et l’organisation des matchs ! Je peux enfin déléguer en gardant la visibilité dessus."</p>
      <p class="splash-quote-assign">C. Esserméant - Président des Centaures de Grenoble</p>
    </div>
    
    <div class="prepend-1 span-7">
      <h3 class="splash-colonnes">Nos partenaires</h3>
      <p>RunOrg est utilisé et recommandé par des orga- nisations qui nous aident à améliorer notre service. <script type=text/javascript>
	  var name = "contact" ;
	  var domain = "runorg.com" ;
	  document.write('<a href=\"mailto:' + name + '@' + domain + '\">') ;
	    document.write('Contactez-nous</a>') ;</script> pour devenir partenaire.</p>
      <img src="/public/img/logo_cda_index.png" alt="Chambre des Associations" /> &nbsp; <img src="/public/img/logo_rpbde_index.png" alt="Réseau de Présidents de BDE" />
    </div>
    
    <div class="prepend-1 span-7 last">
      <h3 class="splash-colonnes">Newsletter</h3>
      <center>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup" style="margin:auto auto 24px auto;width:244px;">
        <form action="http://runorg.us2.list-manage.com/subscribe/post?u=ff7d8855e1c17e65552a32e61&amp;id=6c5b1dcc37" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">		
          <input type="text" value="" name="EMAIL" class="email" id="mce-EMAIL"> <input type="submit" value="OK" name="subscribe" id="mc-embedded-subscribe" class="bouton-2">
        </form>
      </div>
      <!--End mc_embed_signup-->
      
      <h3 class="splash-colonnes">Blogs</h3>
        <p style="text-align:left;">
          <img src="/public/icon/arrow_right.png">&nbsp;<a href="/blog" target="_blank" class="splash-lien-blog"><strong>RunOrg/Blog - </strong>Conseils aux associations</a>
        </p>
        <p style="text-align:left;">
          <img src="/public/icon/server_edit.png">&nbsp;<a href="/actu" target="_blank" class="splash-lien-blog"><strong>RunOrg/Actu - </strong>L'actualité de RunOrg</a>
        </p>
        <p style="text-align:left;">
          <img src="/public/icon/cup_edit.png">&nbsp;<a href="http://runorg-tech.tumblr.com/" target="_blank" class="splash-lien-blog"><strong>RunOrg/Tech - </strong>Le devblog de RunOrg</a>
        </p>
      
      <h3 class="splash-colonnes">etc.</h3>
	    <a href="http://www.facebook.com/pages/RunOrg/150971591580879" title="Facebook">
	      <img src="public/img/icon_facebook.png" alt="Facebook" />
	    </a>
	    &emsp;
	    <a href="http://www.twitter.com/runorg" title="Twitter">
	      <img src="public/img/icon_twitter.png" alt="Twitter" />
	    </a>
      &emsp;
      <a href="http://plus.google.com/u/0/105717032059999732993" title="Google+">
      	<img src="public/img/icon_googleplus.png" alt="Google+" />
      </a>
	  </center>
    </div>
  </div>

</div>

{i:splash-foot-fr}

<style type="less">
img.splash-slides-img{
	box-shadow: 0px 3px 5px #666;
	margin-top: 10px;
}

h4.splash-commentaire{
	border:none;
	margin-bottom:5px;
	font-size:13px;
	font-weight:bold;
}

p.splash-quote{
	font-size:12px;
	margin-bottom:5px;
}

p.splash-quote-assign{
	  color: #E70074;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 20px;
		text-align: right;
}

h3.splash-icones{
	a{
		text-align: center;  
		color: #666;
		font-size: 12px;
		margin:10px auto;
		text-decoration:none;
		color:#666;
		&:hover{
			color:#333;
		}
	}
}

a.splash-lien-blog{
	&:hover{
		text-decoration:none;
	}
	strong{
		color:black;
	}
	&:hover{
		strong{
			color:black;
		}
	}
}
</style>
