{i:splash-title-fr}
<div class="splash-network">

  <div class="-gradient">
    <div class="container">
      
      <div class="span-24 prepend-top last">
	<div class="span-24 last">
	  
	  <div class="span-14">
	    <div class="-illustration">
	      <img src="http://dev.runorg.com/public/img/network.png"/>
	    </div>
	  </div>

	  <div class="span-10 last">
	    <h1>Le réseau des associations</h1>
	    <p class="-right-big">
	      <a href="#trouvez-des-associations"><strong>Trouvez des associations</strong></a> qui vous intéressent,<br>
	      <a href="#abonnez-vous"><strong>Abonnez-vous</strong></a> à leurs actualités,<br>
	      <a href="#devenez-membre"><strong>Devenez membre</strong></a>, adhérent ou bénévole. </p>

	    <h2 style="text-align: center;margin: 50px 0 0">Conçu pour les associations&nbsp;:</h2>
	    <p class="-right-big">
	      <a href="#temps-de-parole"><strong>Disposez</strong></a> d'un temps de parole garanti,<br>
	      <a href="#plus-visible"><strong>Gagnez en visibilité</strong></a> sur internet,<br>
	      <a href="#federation"><strong>Communiquez</strong></a> avec vos réseaux et fédérations.
	    </p>
	    
	    <p class="-right-small">
	      Vous êtes une association&nbsp;? 
	      <a href="#associations">Rejoignez le réseau&nbsp;!</a>
	    </p>
	  </div>
	  
	</div>
      </div>
    </div>
  </div>

  <div class="container">

    <a name="trouvez-des-associations"></a>
    <div class="prepend-top span-24 last">
      <h2>Trouvez des associations qui vous intéressent</h2>
      <div class="span-16 last">
	<p class="-big-info">
	  Notre réseau comprend uniquement des associations et des acteurs de l'écosystème associatif&nbsp;: mairies, maisons des associations...
	</p>
	<p class="-big-info">
	  Profitez d'un réseau en pleine croissance qui n'est pas envahi<br/>
	  par les marques ou les personnalités. 
	</p>
	<div class="span-16 append-bottom last">
	  <a href="/network/explore" style="float:right" class="pretty-button green-button">
	    Chercher des associations
	  </a>
	</div>
      </div>
      <div class="span-8 last" style="text-align: center">
	<img src="/public/img/network-2.png">
      </div>
    </div>
  
    <hr/>

    <a name="abonnez-vous"></a>
    <div class="span-24 last">
      <h2 style="text-align:right">Abonnez-vous à leurs actualités</h2>
      <div class="span-8" style="text-align: center">
	<img src="/public/img/network-3.png">
      </div>
      <div class="span-16 last" style="text-align:right">
	<p class="-big-info">
	  Vous recevez par email un résumé quotidien ou hebdomadaire.
	</p>
	<p class="-big-info">
	  Vous n'êtes pas noyé par les associations qui communiquent dix fois par jour,<br/>
	  sans passer à côté de celles qui font une annonce par semaine. 
	</p>
	<p class="-big-info">
	  Nous ne transmettons pas votre e-mail aux associations,<br/>
	  et vos demandes de désabonnement sont respectées. 
	</p> 
      </div>
    </div>

    <hr/>
    
    <a name="devenez-membre"></a>
    <div class="span-24 last">
      <h2>Devenez membre, adhérent ou bénévole</h2>
      <div class="span-16">
	<p class="-big-info">
	  RunOrg, c'est aussi un intranet privé et sécurisé pour associations. 
	</p>
	<p class="-big-info">
	  Beaucoup d'associations utilisent RunOrg pour leurs activités,<br/>
	  leurs adhérents, leurs bénevoles et leur communication interne.   
	</p>
	<p class="-big-info">
	  Vous restez maître de vos informations personnelles.   
	</p>
      </div>
      <div class="span-8 last" style="text-align: center">
	<img src="/public/img/network-4.png" style="margin-top:20px">
      </div>
    </div>
  </div>

  <div style="background:#EEE;border:1px solid #BBB;border-size:1px 0">
    <div class="container">
      <div class="prepend-top span-24 last">
	<h2 style="text-align:center">Pourquoi est-ce gratuit&nbsp;?</h2>
	<div class="span-16 prepend-4 append-4 last" style="text-align:center">
	  <p class="-big-info">
	    Nous ne vendons pas vos informations personnelles.<br/>
	    Nous ne vous envoyons pas de publicités ou de spams. 
	  </p>
	  <p class="-big-info">
	    Nos clients payants utilisent RunOrg pour leur communication interne.<br/>
	    Le réseau des associations leur permet d'améliorer leur communication externe.
	  </p>
	  <p class="-big-info">
	    Un réseau gratuit pour tous est plus riche et plus varié.</br>
	    C'est un meilleur réseau pour tous, y compris nos clients. 
	  </p> 
	</div>
      </div>
    </div>
  </div>
    
  <div class="container">
    <a name="associations"></a>
    <div class="prepend-top append-bottom span-24 last -assos">
      <h2>Un réseau conçu pour les associations</h2>
      <div class="span-16 append-8 last">
	<a name="temps-de-parole"></a>
	<h3>Temps de parole garanti&ensp;<small>(contrairement à Twitter ou Facebook)</small></h3>
	<p>
	  Pour être entendu, pas besoin de publier dix messages par jour&nbsp: nous mettons en avant les annonces des associations qui publient peu souvent.
	</p>
	<a name="plus-visible"></a>
	<h3>Soyez plus visible&ensp;<small>(contrairement à votre blog)</small></h3>
	<p>
	  Les membres peuvent trouver votre profil en cherchant sur le réseau, et nous leur recommandons régulièrement des profils intéressants.
	</p>
	<p>
	  Les autres associations peuvent transmettre vos annonces à leurs propres abonnés. 
	</p>
	<a name="federation"></a>
	<h3>Adapté aux fédérations</h3>
	<p>
	  Si vos associations filles utilisent RunOrg pour leur communication interne, leurs membres sont automatiquement abonnés à vos annonces.
	</p>
	<h3>Vous avez déjà un blog&nbsp?&ensp;<small>(et vous voulez gagner du temps&nbsp;?)</small></h3>
	<p>
	  Vous pouvez republier automatiquement les articles de votre blog sur notre réseau. Les lecteurs se rendent sur votre blog pour lire les articles en entier. 
	</p>
	<h3>Uniquement sur invitation&nbsp;<small>(pour l'instant)</small></h3>
	<p>
	  Afin de garantir une qualité maximale des profils crées, il faut avoir reçu une invitation d'une association membre du réseau pour créer un profil &laquo;&nbsp;Association&nbsp;&raquo; sur le réseau.
	</p>
	<p>
	  Si vous avez des questions, <a href="/contact">contactez-nous&nbsp;!</a>
	</p>
      </div>

    </div>

  </div>

</div>
{i:splash-foot-fr}

<style type="less">
.theme-splash .splash-network {

  a { color: #09F }

  .-illustration { 
    width: 403px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border: 1px solid #BBB;

    img { display: block }
  }

  .-assos {
    h3 {
      font-size: 18px;
      color: #555;
      text-align: left;
      margin: 18px 0 8px;
    }

    p { 
      font-size: 15px;
      color: #666;
      margin-bottom: 8px;
    }
  }

  h2 {
    font-size: 22px;
  }

  h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin: 30px 0 0;
  }

  .-right-big {
    font-size: 17px;
    text-align: center;
    color: #555;
  }

  .-right-small {
    font-size: 12px;
    text-align: center;
    color: #777;
  }

  .-big-info {
    font-size: 17px;
    color: #666;
  }

  .-gradient {
    border-bottom: 1px solid #BBB;
    background: #dddddd; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 1%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 1%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 1%,#dddddd 100%); /* Opera 11.10+ */  
    background: -ms-linear-gradient(top,  #ffffff 1%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 1%,#dddddd 100%); /* W3C */
  }

}
</style>
