{i:splash-title-fr}

<div class="container">
  <h1>Nos offres d'accompagnement</h1>
  
  <p>Vous voulez bénéficier d’un accompagnement garantissant la réussite de votre projet ?</p>
  <div class="span-11 append-1">
    <h2>Bien démarrer avec RunOrg</h2>
    <p>Cette offre comprend la prise en main de votre espace, la configuration par nos soins selon vos besoins et sous vos yeux. Accompagnement dans la communication vers vos membres concernant ce lancement. Vous disposez ensuite de 2 heures de support téléphonique durant lesquels nous pouvons également intervenir dans votre espace RunOrg.</p>
    <ul>
      <li>2 heures de formation à distance avec adaptation de votre espace RunOrg selon vos besoins</li>
      <li>2 heures d’assistance téléphonique sur les 2 premiers mois d’abonnement</li>
    </ul>
    <hr />
    <p class="tarif"><span class="gris">Tarif -</span> 500 euros</p>
  </div>
  <div class="span-11 prepend-1 last">
    <h2>Pack complet de lancement</h2>
    <p>Faites du lancement de votre nouvel espace un évènement pour les membres de votre organisation. Nous le configurons (sur place ou à distance) et le faisons découvrir à vos membres et administrateurs.</p>
    <ul>
      <li>2 heures d’adaptation de votre espace RunOrg selon vos besoins (à distance ou sur place)</li>
      <li>2 heures de présentation et de formation administrateurs et membres (sur place)</li>
      <li>2 heures d’assistance téléphonique sur les 2 premiers mois d’abonnement</li>
    </ul>
    <hr />
    <p class="tarif"><span class="gris">Tarif -</span> 750 euros (plus frais de déplacement)</p>
  </div>

  <div class="span-11 append-1">
    <h2>Formation des administrateurs</h2>
    <p>Toutes les choses importantes à savoir sur RunOrg pour en tirer le meilleur et plus ! Le niveau du cours s’adaptera en fonction des demandes des participants et de leur niveau sur RunOrg (débutant ou niveau avancé).</p>
    <ul>
      <li>1h de formation à distance (par téléphone ou skype)</li>
    </ul>
    <hr />
    <p class="tarif"><span class="gris">Tarif -</span> 150 euros</p>
  </div>
  <div class="span-11 prepend-1 last">
    <h2>Support téléphonique</h2>
    <p>Ne cherchez pas : demandez !</p>
    <ul>
      <li>1 heure de support téléphonique à consommer sur 1 mois après la souscription</li>
      <li>A votre demande nous pouvons intervenir dans votre espace RunOrg</li>
    </ul>
    <hr />
    <p class="tarif"><span class="gris">Tarif -</span> 150 euros</p>
  </div>
  <p><strong>Conditions</strong> - La formation, l’adaptation, l’assistance et le support téléphonique se font exclusivement sur rendez-vous. Les rendez-vous doivent être pris au minimum une semaine à l’avance et seront validés par un membre de notre équipe.</p>
</div>

{i:splash-foot-fr}


<style type="less"> 

.tarif{
	text-align:right;
	font-weight:bold;
	font-size: 14px;
	
	.gris{
		color:#999;
	}
}

</style>
