{i:splash-title-fr}

<div class="container">
  <h1>Partenaires</h1>
  <div class="span-11 append-1">
    <a href="http://www.prez-bde-idf.fr" target="_blank"><img src="/public/img/logo_rpbde.jpg" /></a>
    <hr />
    <p><a href="http://www.prez-bde-idf.fr" target="_blank">Le Réseau des Présidents de BDE</a> est une association fédérant l'ensemble des BDE Français et leur offrant une base d'informations conséquente (agences, salles, sponsors, subventions, conseils, etc.) et un soutien quotidien.</p>
  </div>
  <div class="span-11 prepend-1 last">
    <a href="http://cda-asso.com/" target="_blank"><img src="/public/img/logo_cda.png" /></a>
    <hr />
    <p>Point d'appui à la vie associative et riche de plus de 10 ans d'expertise dans l'accompagnement de ses publics, <a href="http://cda-asso.com/" target="_blank">la Chambre des associations</a> est composée d'intervenants de qualité : des acteurs de l'économie sociale & solidaire qui s'adaptent aux besoins et aux spécificités du monde associatif.</p>
  </div>
</div>

{i:splash-foot-fr}
