{i:splash-title-fr}
    
<div id="white">
  <div class="container">
    <div class="span-8">
      <ul id="menu-ul">
	<li class="menu-left menu-left-select"><a href="/preconfiguration">Solutions pré-configurées</a></li>
  	<li class="menu-left"><a href="/ask-invite">Invitations</a></li>
	<li class="menu-left"><a href="/pricing">Tarifs</a></li>
      </ul>
    </div>
    
    <div class="span-16 last">
      <div id="qui-sommes-nous">
	<h1 id="alt">Solutions pré-configurées</h1>
    <p><strong>Utilisez une solution pré-configurée pour vos besoins.</strong></p>
    <p>Notre objectif : vous faire gagner du temps !</p>
    <p>La grande flexibilité de notre application nous permet de vous proposer des solution déjà pré-configurées pour vos besoins.</p>
    <p>Ces solutions intègrent des champs, des intitulés, des événements et des process qui ont été créés grâce aux conseils d'associations comme la vôtre et déjà utilisatrices de RunOrg.</p>
	<p>Par exemple, un club de judo aura en standard le champ « ceinture » sur la fiche de ses membres, alors qu'il y aura en standard un champ « instruments » dans la pré-configuration d'un orchestre.</p>
    <p>De plus, lorsque des améliorations sont apportées à une pré-configuration, elles sont automatiquement ajoutées à l'ensemble des utilisateurs de cette solution.</p>
    <p>Par exemple, si plusieurs associations étudiantes nous demandent de créer un modèle d'évènement « Journée d'intégration » (rassurez-vous : il existe déjà), alors nous allons pouvoir le créer et le rendre disponible à toutes les associations étudiantes.</p>
    <p>S'il n'existe pas encore de pré-configuration pour votre association, contactez-nous !</p>
    
      </div>
    </div>
  </div>
</div>
    
{i:splash-foot-fr}
