{i:splash-title-fr}

<div class="cadre-bkg">
  <div class="container">   
    <div class="span-18">
      <div class="cadre-page">
        <h1>Espace presse</h1>
        <p>Envie de communiquer au sujet de RunOrg ? Voici quelques ressources qui pourraient vous êtres utiles :</p>
        <h2>Logos et boutons</h2>
        <table class="logos">
          <tr>
          	<td><img src="/public/media/logo/carre/rose/100.png" /></td>
            <td><img src="/public/media/logo/carre/gris/100.png" /></td>
          </tr>
          <tr>
          	<td><a href="/public/media/logo/carre/rose/100.png" target="_blank">100x100</a> - <a href="/public/media/logo/carre/rose/250.png" target="_blank">250x250</a> - <a href="/public/media/logo/carre/rose/1024.png" target="_blank">1024x1024</a></td>
            <td><a href="/public/media/logo/carre/gris/100.png" target="_blank">100x100</a> - <a href="/public/media/logo/carre/gris/250.png" target="_blank">250x250</a> - <a href="/public/media/logo/carre/gris/1024.png" target="_blank">1024x1024</a></td>
          </tr>
          <tr>
          	<td colspan=2>&nbsp;</td>
          </tr>
          <tr>
          	<td><img src="/public/media/logo/rectangle/rose/242.png" /></td>
          	<td><img src="/public/media/logo/rectangle/gris/242.png" /></td>
          </tr>
          <tr>
          	<td><a href="/public/media/logo/rectangle/rose/242.png" target="_blank">242x100</a> - <a href="/public/media/logo/rectangle/rose/606.png" target="_blank">606x250</a> - <a href="/public/media/logo/rectangle/rose/1024.png" target="_blank">1024x422</a></td>
            <td><a href="/public/media/logo/rectangle/gris/242.png" target="_blank">242x100</a> - <a href="/public/media/logo/rectangle/gris/606.png" target="_blank">606x250</a> - <a href="/public/media/logo/rectangle/gris/1024.png" target="_blank">1024x422</a></td>
          </tr>
        </table>
        <br />
        <hr />
        <h2>Un (tout) petit résumé</h2>
        <p>RunOrg offre un intranet aux associations : un espace sécurisé d'échange avec les membres qui inclut des outils de gestion et d'organisation puissants pour les responsables, le tout hébergé et tenu à jour, pour un prix abordable.</p>
        
        <small>Un résumé un peu moins petit est disponible <a href="/public/media/pdf/resume-un-peu-moins-petit.pdf" target="_blank">ici, au format PDF</a>.</small>
        <br />
        <br />
        <hr />
        <h2>Le dossier de presse</h2>
        <p>RunOrg est une start-up fondée fin 2010 par trois passionnés du milieu associatif qui partageaient le même constat : alors même que les membres d'associations passent de plus en plus de temps en ligne, les associations ne disposent pas de moyens à la fois simples, abordables et complets pour échanger avec leurs membres. Celles qui sont les plus adeptes de la technologie font intervenir une myriade d'outils pour l'organisation, la gestion des adhérents, le partage de documents, l'annuaire, la communication interne... d'autres n'utilisent simplement pas internet au-delà d'un blog ou d'une page Facebook publique.</p>

				<p>La familiarité des fondateurs à la fois avec les associations et avec l'univers technologique du Web 2.0 leur a permis d'élaborer une solution, qui est disponible au public depuis la rentrée 2011. Le cahier des charges n'était pas simple : l'outil devait être complet - permettre l'échange de messages, photos, documents ; l'organisation d'évènements ; la gestion des adhésions et de l'annuaire - tout en restant simple d'utilisation pour tous, hébergé et mis à jour automatiquement pour éviter toute gestion technique aux responsables des associations, sécurisé et confidentiel pour respecter la vie privée des membres inscrits, et rester dans une gamme de prix à la portée des associations.</p>

				<p>RunOrg permet aux associations de se créer un intranet : pour environ 1.20 EUR HT par an et par membre, une association dispose d'un espace privé et sécurisé où les membres peuvent s'echanger des messages, publier des albums, mettre en ligne des fichiers, et où les responsables peuvent facilement gérer les adhésions, les évènements, et la communication en direction de leurs membres.</p>

				<p>Des questions supplémentaires ? Contactez-nous : <script type=text/javascript>
	  var name = "contact" ;
	  var domain = "runorg.com" ;
	  document.write('<a href=\"mailto:' + name + '@' + domain + '\">') ;
	    document.write(name + '@' + domain + '</a>') ;</script></p>
      	<hr />
        <h2>Les trois fondateurs</h2>
        <p><strong>Mehdi Foughali</strong> est le Cerveau (comprendre Directeur Commercial) de RunOrg. Vétéran du milieu associatif sous toutes ses formes, Mehdi est ingénieur économiste, passe par l'University of California Santa Barbara avant de sortir diplômé de Sciences-Po en 2003. Il travaille plusieurs années comme responsable CRM, durant lesquelles il fait mûrir l'idée de RunOrg.</p>
        <p><strong>Victor Nicollet</strong> est le Dompteur de Monades (comprendre Directeur Technique) de RunOrg. Développeur de jeux vidéo dans sa jeunesse, sémanticien des langages de programmation issu de la filière informatique de l'École normale supérieure en 2007, Victor a encadré plusieurs projets Web 2.0 dans une SSII avant de poser les premières briques du logiciel RunOrg en Octobre 2010.</p>
        <p class="bottom"><strong>François Villard</strong> est Responsable #E70074 (comprendre Directeur Artistique) de RunOrg. Après avoir étudié et pratiqué la création des internets dans d'obscures contrées, il se joint au projet RunOrg. Aujourd'hui, il met en page notre site et réfléchit à l'interface du logiciel. Malgré son 1m80, il a quand même réussi à être le plus petit des trois.</p>
      </div>
    </div>
    
    <div class="span-6 last">
      <div class="cadre-7">
        <h2>Contact</h2>
        <p>
	  <strong>Si vous avez des questions, des suggestions,</strong> ou si vous trouvez une autre raison de nous contacter, plusieurs choix s'offrent à vous&nbsp;:
	</p>
	<h3><a href="mailto:contact@runorg.com">E-mail</a></h3>
        <p>
	  Un choix simple et populaire, un tantinet old-school, le contact par e-mail peut-être effectué à l'adresse suivante : <script type=text/javascript>
	  var name = "contact" ;
	  var domain = "runorg.com" ;
	  document.write('<a href=\"mailto:' + name + '@' + domain + '\">') ;
	    document.write(name + '@' + domain + '</a>') ;</script>
	</p>
        <h3><a href="http://www.facebook.com/pages/RunOrg/150971591580879" title="Devenez notre ami sur Facebook">Facebook</a></h3>
        <p>Le réseau social standard, dont vous ne saurez pas grand chose en regardant <i>The Social Network</i>, mais n'empêche.</p>
        <h3><a href="http://www.twitter.com/runorg" title="Suivez-nous sur Twitter">Twitter (@runorg)</a></h3>
        <p>
	  Saviez-vous que le nom de Twitter venait du honolulien et peut se traduire par <i>&laquo;&nbsp;petit oiseau hipster&nbsp;&raquo;</i> ?
	</p>
      </div>
    </div>           
  </div>
</div>

{i:splash-foot-fr}

<style type="less">
table.logos{
	width:100%;
		td{
			text-align:center;
		}
}
</style>
