{i:splash-title-fr}

<div class="cadre-bkg">
<div class="container">
  <div class="cadre-page">
  	<h2>Règles de confidentialité dans RunOrg</h2>
    <h3>Qui peut voir ou modifier quoi dans RunOrg ?</h3>
    <p>1. Les utilisateurs peuvent décider de partager ou non les données avec les associations, seules les informations qu’ils ont saisi dans les champs nom et prénom sont affichées dans leurs associations telles qu’elles apparaissent dans leur profil.</p>
    <p>2. Seul les personnes du groupe « Administrateurs RunOrg » ont un accès sur toutes les données de l’association et peuvent par défaut créer, modifier ou supprimer n’importe quel objet ou fiche.</p>
    <p>3. Un utilisateur sans responsabilité d’administrateur ne peut pas voir les informations personnelles des autres membres dans l’annuaire. Seul la photo, le nom et le prénom apparaissent.</p>
    <p>4. Un utilisateur à qui on a délégué la responsabilité d’administrateur sur un objet peut accéder aux informations des profils des membres ou des participants de cet objet (via la grille des participants) si ces derniers les partagent avec l’association.</p>
    <p>5. Les informations apparaissant sur le fil d’actualité des utilisateurs concernent uniquement les objets pour lesquels ces utilisateurs peuvent avoir accès. Les administrateurs ont une visibilité sur toutes les actions.</p>
    <p>6. Les messages envoyés dans RunOrg sont uniquement visibles aux destinataires et aux membres des groupes à qui ils sont envoyés. Les messages, sont considérés comme une communication privée, et ne sont donc visibles des administrateurs que s’ils en sont les destinataires.</p>
    <p>Conformément aux recommandations de la CNIL, un utilisateur peut modifier à tout moment ses informations personnelles et sa fiche d’inscription à un objet (adhésion, évènement, cours, etc.). </p>
    
    <hr />
    
    <h2>Déclaration de confidentialité en ligne de RunOrg</h2>

    <h3>1. Pour RunOrg</h3>

    <p>
      RunOrg s'engage à ne pas publier ou diffuser sur des espaces publics (notamment les sites Internet et les réseaux sociaux) et sans leur accord explicite, des informations issues des espaces gérés par les clients.
    </p>

    <p>
      RunOrg s'engage à faire tout son possible pour mettre en place les systèmes appropriées permettant de protéger la vie privée de ses utilisateurs, et leur permettre de contrôler les données qu'ils partagent avec les clients.
    </p>

    <p>
      RunOrg s'engage à ce que les informations fournies par un utilisateur dans son profil privé (adresse électronique, date de naissance, adresse, ville, pays, numéro de téléphone fixe, numéro de téléphone portable, sexe) puissent être cachées aux autres utilisateurs du service à sa demande et de façon sélective.
    </p>

    <h3>2. Pour le Client</h3>

    <p>
      Le client s'engage à ne pas publier ou diffuser sur des espaces publics (notamment les sites Internet et les réseaux sociaux) des informations personnelles et nominatives sur ses utilisateurs sans leur accord explicite.
    </p>

    <p>
      Il s'engage à se conformer à la loi en vigueur concernant les informations qu'il collecte auprès de ses utilisateurs, et notamment il se conforme aux recommandations de la CNIL. Par exemple il ne doit pas récolter des informations qui ne seraient pas liées à son activité ou dont la destination n’est pas liée à la conduite normale des activités de son organisation.
    </p>

    <p>
      Le client ne doit pas utiliser les données de ses utilisateurs à des fins autres que celles de l'objet de son organisation.
    </p>

    <p>
      Le client ne doit pas utiliser les données de ses utilisateurs sans leur accord explicite.
    </p>

    <h3>3. Pour l'utilisateur</h3>

    <p>
      L'utilisateur s'engage à ne pas publier ou diffuser sur des espaces publics (notamment les sites Internet et les réseaux sociaux) des informations personnelles et nominatives sur d’autres utilisateurs sans leur accord explicite. Il s'engage à ne pas utiliser les informations personnelles des autres utilisateurs auxquelles il pourrait avoir accès à des fins commerciales, personnelles ou de toutes natures sans leurs accords explicite.
    </p>

    <h3>4. Responsabilités</h3>

    <p>
      Le client est responsable de l'usage des données de ses utilisateurs. Il est également responsable de la bonne application des règles de cette présente déclaration de confidentialité en ligne par l'ensemble de ses utilisateurs. Il dispose par ailleurs des moyens techniques de suspendre les accès à son espace privé à des  utilisateurs ne respectant pas lesdites règles.
    </p>
    
    <p>
      RunOrg ne peut être tenu responsable d'un manquement à ces règles au sein de l'espace privé ou public d'un client.
    </p>

    <p>
      Sur demande des autorités légales compétentes, RunOrg peut suspendre les accès d'un utilisateur à l'ensemble de son réseau, ou la totalité des accès à l'espace privé d’un client.
    </p>
    
    <p>
      Sur demande des autorités légales compétentes, RunOrg peut suspendre les accès au service à un client.
    </p>

    <h2>Mentions Légales du Site</h2>

    <h3>Publication</h3>

    <p>
      Références légales de la société<br/>
      Le présent site est la propriété de RUNORG SARL<br/>
      Forme sociale : SARL<br/>
      Capital social : 10.000,00 euros<br/>
      R.C.S. : Paris 499 669 927<br/>
      TVA intracommunautaire : FR2049966992700018<br/>
      Siège social : 22 rue Planchat 75020, France<br/>
      Directeur de la publication : Victor Nicollet<br/>
    </p>

    <p>
      L'ensemble de ce site relève des législations française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents iconographiques et photographiques.
    </p>

    <h3>CNIL - Protection des données personnelles</h3>

    <p>
      Déclaration CNIL (numéro de récépissé) : 1520934
    </p>

    <p>
      La société RUNORG utilise vos informations personnelles pour le bon traitement des commandes. En vous inscrivant sur le site, vous vous engagez à nous fournir des informations sincères et véritables vous concernant. La communication de fausses informations est contraire aux conditions générales ainsi qu'aux conditions d'utilisation figurant sur le site.
    </p>

    <p>
      Conformément à la loi "Informatique et Libertés", le traitement de vos informations a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL) sous le numéro de récépissé 1520934. Vous avez un droit permanent d'accès et de rectification sur toutes les données vous concernant, conformément aux textes européens et aux lois nationales en vigueur (article 34 de la loi du 6 janvier 1978). Il suffit d'en faire la demande à : RunOrg - Service Clients – 22 rue Planchat 75020 Paris.
    </p>

  </div>
</div>
</div>

{i:splash-foot-fr}
