{i:splash-title-fr}

<div class="cadre-bkg">
  <div class="container">
    <div class="span-24 last">
	
      <div class="span24 prepend-top">
	<h1>Notre Produit</h1>
      </div>

      <div class="span-7 prepend-top">

	<div class="span-6 append-bottom last">
	  <h3>Fonctionnalités</h3>
	</div>
	  
	<b>Gestion des membres</b>
	<ul>
	  <li>Adhésions, groupes, évènements, cours</li>
	  <li>Formulaires d'inscription personnalisés</li>
	  <li>Annuaire des membres</li>
	  <li>Inscription et paiement en ligne</li>
	  <li>Comptabilité</li>
	  <li>Statistiques</li>
	  <li>Import (e-mails, fichiers) et export</li>
	  <li>Connexion possible depuis Facebook</li>
	</ul>
	
	<b>Communication interne</b>
	<ul>
	  <li>Messages privés individuels</li>
	  <li>Messages et conversations de groupe</li>
	  <li>Forums, sondages, albums</li>
	  <li>Notiﬁcations automatiques par mail</li>
	  <li>Fil d'actualités</li>
	  <li>Mini sondages sur les murs</li>
	  <li>Modération par les responsables</li>
	</ul>
	
	<b>Sécurité</b>
	<ul>
	  <li>Pour les responsables : gestion des accès</li>
	  <li>Pour les membres : gestion de la vie privée</li>
	  <li>Connexion sécurisée</li>
	</ul>
	
	<b>Solution en ligne</b>
	<ul>
	  <li>Hébergé par nos soins</li>
	  <li>Maintenance et mises à jour offertes</li>
	  <li>Aucune connaissance technique nécessaire</li>
	</ul>
	
	<b>Personnalisation de votre espace</b>
	<ul>
	  <li>Création de formulaires</li>
	  <li>Création de tableaux d’affichage</li>
	  <li>Choix des champs formulaires obligatoires</li>
	  <li>Logo au choix de l’administrateur</li>
	</ul>
	
	<b>En plus, pour vous et vos membres</b>
	<ul>
	  <li>Un seul compte, plusieurs associations</li>
	  <li>Connexion en un clic depuis les messages</li>
	  <li>Accès au support</li>
	</ul>
	  	
	<div class="span-6 prepend-top last">
	  <a href="/support" class="see-button">Support</a>
	</div>
	
	<div class="span-6 prepend-top last">
	  <a href="/pricing" class="see-button">Tarifs</a>
	</div>
      </div>

      <div class="span-17 last">

      <div class="span-17 append-bottom last">
	<div class="cadre-page">
          <div class="span-16 append-bottom last">
	    <h3>Un intranet collaboratif</h3>
	  </div>

	  <div class="span-16 last append-bottom">
	    <div class="span-8">
	      <div class="span-1">
		<img src="/public/icon/32x32/calendar_edit.png"/>
	      </div>
	      <div class="span-7 last">
		<b>Un outil d'organisation</b> qui permet aux responsables de l'association d'en organiser facilement les activités, les adhésions, les évènements, les membres...
	      </div>
	    </div>
	    <div class="span-8 last">
	      <div class="span-1">
		<img src="/public/icon/32x32/user_comment.png"/>
	      </div>
	      <div class="span-7 last">
		<b>Un outil de communication</b> qui permet aux membres de se tenir informés sur le fonctionnement de l'association, mais également d'échanger entre eux et avec les responsables.
	      </div>
	    </div>
	  </div>
	</div>
      </div>

      <div class="span-17 append-bottom last">
	<div class="cadre-page">
	  <div class="span-16 append-bottom last">
	    <h3>Un outil adapté à votre association</h3>
	  </div>

	  <div class="span-16 last">
	    <p>
	      RunOrg s'adapte au fonctionnement de chaque association, à la fois par sa flexibilité et à travers des <em>pré-configurations</em> dédiées à certaines catégories d'associations&nbsp;: associations étudiantes, clubs de sports, festivals... vous pouvez en <a href="/catalog">consulter le catalogue complet</a>:
	    </p>
	  </div>
	  
	  <div class="span-6 prepend-5 append-5 last">
	    <a href="/catalog" class="see-button">Catalogue</a>
	  </div>
	  
	</div>
      </div>

      <div class="span-17 last">
	<div class="cadre-page">

	  <div class="span-16 append-bottom">
	    <h3>Pourquoi RunOrg&nbsp;?</h3>
	  </div>

	  <div class="span-16 last">	    
            <iframe width="630" height="412" src="http://www.youtube.com/embed/9jTL4VQPsmc?hd=1" frameborder="0" allowfullscreen>
	    </iframe>
	  </div>

	</div>
      </div>
      
      </div>
    </div>

    <div class="span-6 prepend-9 append-9 prepend-top append-bottom last">
      <a href="/start" class="go-button">Essayer gratuitement</a>
    </div>

  </div>
</div>

{i:splash-foot-fr}



