{i:splash-title-fr}

<div class="cadre-bkg">
  <div class="container">
    <div class="cadre-page">
      <div class="span-21 prepend-1 append-1 append-bottom last">
	<h1>Partenariat</h1>
        <div class="span-14">
          <h2>Réseau des Présidents de BDE</h2>
          <p>RunOrg est la solution complète pour toutes les associations et les groupes qui cherchent à s'organiser de manière efficace. En partenariat avec les Réseau des Présidents de BDE, nous vous proposons les avantages suivants :</p>
          <ul>
          	<li><strong>100 euros de réduction</strong> sur la première souscription</li>
            <li><strong>2 mois gratuits</strong> sans engagements</li>
            <li><strong>assistance conseil</strong> et personnalisation gratuite</li>
          </ul>
          <p>La préconfiguration RunOrg dédiée aux associations étudiantes (BDE, BDA, BDS, etc.) vous permet d'offrir à vos étudiants et vos bénévoles un outil de communication et d'organisation dédié à votre association. De votre coté vous profitez de leurs facilités à communiquer via les réseaux sociaux pour alléger considérablement vos tâches administratives et logistiques.</p>
          <p>Organisez en quelques minutes vos évènements et soirées, offrez des espaces de discussion et d'échange privés, gérez vos clubs et projets, et mobilisez rapidement votre réseau autour de causes avec l'organisation de pétitions. Cet espace en ligne devient le site communautaire pour organiser votre asso et de pour tous vos étudiants.</p>
          <p style="text-align:center;"><a href="/catalog/logiciel-intranet-association-etudiante-bde" title="Solution de gestion des associations étudiantes" style="color:#09C; font-size:13px;">Plus d'informations sur notre solution pour les associations étudiantes</a></p>
          <hr />
          <p>Offre réservée aux adhérents du Réseau des Présidents de BDE et après confirmation de leur statut par ce dernier, dans la limite d'une association par adhérent. RunOrg s'engage à offrir sur simple demande pour n'importe quelle offre RunOrg utilisant la configuration "Association étudiante" :</p>
          <ul>
          <li>2 mois gratuits sans engagement</li>
          <li>100 euros de réduction  sur la première souscription</li>
          <li>une assistance téléphonique "Prise en main : conseils et personnalisation" avec prise de rendez-vous préalable, d'une durée maximale cumulée de 3h pendant les 3 premiers mois d’utilisation</li>
          </ul>
        </div>
        <div class="span-6 prepend-1 last">
			<img src="/public/img/logo_rpbde.jpg" />
            <br />
            <br />
            <h3>Membre du réseau ?</h3>
            <br />
            <a class="go-button" href="/start/1/v:students">{t:catalog.free-trial}</a>
            <br />
        </div>
      </div>
    </div>
  </div>
</div>

{i:splash-foot-fr}
