/* BLUE: #101f69 ; RED: #e2001a */

#navbar {
  height: 63px;
  overflow: hidden;
  background: #101f69;
  text-shadow: 0 -1px 0 #081036;
}

#navbar a {
  margin-top: 11px;
}

#navbar a:hover {
  background: #e2001a;
  text-shadow: 0 -1px 0 #b00014; 
  border-bottom: 1px solid #b00014; 
}

#navbar a img {
  border-radius: 2px;
}

#navbar .-inner {
  overflow: hidden;
  padding: 5px 0;
}