<div class="container">
{i:core-title}
<div class="prepend-8 span-16 last">
  <p>
    <strong>Le lien que vous avez demandé n'est plus valide. </strong> 
    Pour des raisons de sécurité, nous désactivons tous les liens envoyés par mail
    au bout de trois jours, afin d'empêcher des connexions non autorisées à 
    votre compte. Il est également possible que le lien que vous avez demandé
    soit tronqué ou incomplet.
  </p>
  <h3>Suggestions</h3>
  <ul>
    <li>Vérifiez que l'adresse est bien complète dans la barre de liens.
    <li>Consultez la <a href="{v:url}">liste des notifications</a> que vous avez reçues.</li>
    <li>Contactez-nous pour nous demander plus d'informations.</li>
  </ul>
</div>
</div>
