<div class="order">
  <div class="span-14 prepend-2 append-2 prepend-top append-bottom last">

    <div class="span-14 last">
      <div class="grey">
	<b>{v:name}</b><br>
	<small>{v:address}</small><br>
	<small>Référence {v:reference} du {v:date}</small>
      </div>
    </div>

    <div class="span-14 prepend-top last">
      {v:lines}
    </div>

    <div class="span-14 last">

      <div style="color:#AAA" class="span-7">
	<small>Émis par</small><b> RUNORG S.A.R.L.</b><br>
	<small>SIRET : 499 669 927 00018</small><br>
	<small>N° TVA : FR2049966992700018</small><br>
	<small>22 rue Planchat 75020 Paris</small>
      </div>

      <div class="span-6 prepend-1 last">
	<div class="span-6 last -ht">
	  <div class="span-3">Total HT</div>
	  <div class="span-3 last -amount">{v:ht} €</div>
	</div>
	<div class="span-6 last -tva">
	  <div class="span-3">TVA 19.6%</div>
	  <div class="span-3 last -amount">{v:tva} €</div>
	</div>
	<hr/>
	<div class="span-6 last -ttc">
	  <div class="span-3">Total TTC</div>
	  <div class="span-3 last -amount">{v:ttc} €</div>
	</div>
      </div>
    </div>
    
  </div>
  
</div>

<div class="span-18 prepend-top last">
  {v:buttons}
</div>
