<div class="incentives">
  <hr/>
  <ul>
    {{items:
    <li>
      <a class="-title" href="{v:target}">{v:title}</a>
      <a href="{v:target}"><img src="{v:image}"/></a>
      <p>{v:text}</p>
    </li>
    }}
  </ul>
</div>

<style type="less">
.incentives {
  hr { 
    background-color: #DDD;
    border-bottom: 1px solid #BBB;
    height: 8px;
    margin: 15px 0;
  }
  ul { 
    list-style-type: none;
    padding: 0;
  }
  li {
    overflow: hidden;
    margin: 15px 0;

    a.-title { 
      font-weight: bold;
      line-height: 14px; 
      padding: 0 0 5px;
      display: block;
    }

    img {
      float: left;
      width: 46px;
      height: 46px;
      padding: 1px;
      margin: 1px solid #ccc;
      margin-right: 5px;
    }

    p {
      font-size: 11px;
      margin: 0;
    }
  }
}
</style>
