<div class="span-10 last prepend-top append-bottom">
  <div class="grey" style="text-align:center">
    <button class="pretty-button stay-inline typwidth" onclick="{v:invite}">{t:member.add-or-invite.invite}</button>
    &emsp;
    <button class="pretty-button stay-inline typwidth" onclick="{v:add}">{t:member.add-or-invite.add}</button>
  </div>
</div>

<div class="prepend-7 span-3 append-bottom last">
    <button class="pretty-button typwidth" onclick="runorg.closeDialog()">{t:cancel}</button>
</div>

