{v:import-form.begin}
<div class="span-10 append-bottom last">

  <div class="step">
    <span class="-num">1</span>
    Saisissez les adresses e-mail dans le champ ci-dessous, une adresse par ligne.
  </div>

  {v:import-form.list.input}
  {v:import-form.list.error}

  <div class="step">
    <span class="-num">2</span>
    Tous les membres seront ajoutés à cette liste. Souhaitez-vous leur envoyer une invitation ou les inscrire directement?
  </div>

  <div class="span-8 prepend-2 last">
    {v:import-form.action.input} 
  </div>
</div>

<div class="span-3 prepend-4">
  <button type="submit" class="pretty-button typwidth">Importer</button>
</div>

<div class="span-3 last">
  <button type="button" class="pretty-button typwidth" onclick="runorg.closeDialog()">Annuler</button>
</div>
{v:import-form.end}
