<div style="text-align:center" class="span-10 prepend-top append-bottom last">
  <img src="/public/icon/32x32/exclamation.png">
</div>

<div class="span-10 last append-bottom">
  Vous souhaitez associer votre compte Facebook au compte RunOrg&nbsp;:
  <blockquote><code>{v:my-email}</code></blockquote>  
  Malheureusement, le compte Facebook que vous souhaitez utiliser est déjà associé au compte RunOrg suivant:
  <blockquote><code>{v:their-email}</code></blockquote>
  Vous devez d'abord supprimer ce dernier avant de pouvoir continuer l'association.
</div>

<div class="span-10 append-bottom last" style="color:#666">
  Pour supprimer votre compte, <a href="{v:login-url}">utilisez la page de connexion</a> puis sélectionnez l'option
  de suppression depuis la partie <em>Mon Compte</em>.
</div>

<div class="span-3 prepend-7 last">
  <button class="pretty-button typwidth" onclick="runorg.closeDialog()" type="button">Annuler</button>
</div>
