<div class="navbar">
  <div class="container">
    <div class="span-9 append-14 last">      
      {v:name} / <strong>{v:asso}</strong>	
    </div>
  </div>
  <div class="navbar-bottom">
  </div>
</div>

<div style="height:0px; width:0px; overflow:hidden">
  <img src="/public/img/logo-square.png"/>
</div>

<div class="container">
  <div class="span-24 prepend-top append-bottom last">
    {v:login-form.begin}
    <div class="span-7">
      <h2>{t:login.alreadyAccount}</h2>
    </div>
    <div class="span-13">
      <div class="span-13 last">
	<div class="span-5 label">
	  {v:login-form.login.label}
	</div>
	<div class="span-5">
	  {v:login-form.login.input}
	</div>
	<div class="span-3 label last">
	  {v:login-form.login.error}
	</div>
      </div>
      <div class="span-13 last">
	<div class="span-5 label">
	  {v:login-form.pass.label}
	</div>
	<div class="span-5">
	  {v:login-form.pass.input}
	</div>
	<div class="span-3 label last">
	  <a id="lostpass-link" href="javascript:void(0)">
            {t:login.lostPassword}
	  </a>
	</div>
      </div>
      <div class="prepend-5 span-5 append-3 last">
	<div class="checkbox">
          {v:login-form.rememberMe.input}
          {v:login-form.rememberMe.label}
	</div>
      </div>
    </div>
    <div class="span-3 prepend-1 last" style="margin-top:56px;text-align:right">
      <button class="pretty-button typwidth" type="submit">{t:login.login-btn}</button>
    </div>
    {v:login-form.end}
  </div>
  <hr/>
  <div class="span-24 append-bottom last">
    {v:signup-form.begin}
    <div class="span-7">
      <h2>{t:login.newAccount}</h2>
    </div>
    <div class="span-13">
      <div class="span-13 last">
	<div class="span-5 label">
	  {v:signup-form.lastname.label}
	</div>
	<div class="span-5">
	  {v:signup-form.lastname.input}
	</div>
	<div class="span-3 label last">
	  {v:signup-form.lastname.error}
	</div>
      </div>
      <div class="span-13 last">
	<div class="span-5 label">
	  {v:signup-form.firstname.label}
	</div>
	<div class="span-5">
	  {v:signup-form.firstname.input}
	</div>
	<div class="span-3 label last">
	  {v:signup-form.firstname.error}
	</div>
      </div>
      <div class="span-13 last">
	<div class="span-5 label">
	  {v:signup-form.login.label}
	</div>
	<div class="span-5">
	  {v:signup-form.login.input}
	</div>
	<div class="span-3 label last">
	  {v:signup-form.login.error}
	</div>
      </div>
      <div class="span-13 last">
	<div class="span-5 label">    
	  {v:signup-form.pass.label}
	</div>
	<div class="span-5">
	  {v:signup-form.pass.input}
	</div>
	<div class="span-3 label last">
	  {v:signup-form.pass.error}
	</div>
      </div>
      <div class="span-13 last">
	<div class="span-5 label">
	  {v:signup-form.pass2.label}
	</div>
	<div class="span-5">
	  {v:signup-form.pass2.input}
	</div>
	<div class="span-3 label last">
	  {v:signup-form.pass2.error}
	</div>
      </div>
      <div class="span-13 last">
	<div class="prepend-5 span-5">
	  <div class="checkbox"> 
	    {v:signup-form.accept.input}
	    <a target="_blank" 
	       style="display:inline-block;padding:0.15em 0;width:168px;white-space:nowrap;overflow:hidden;"
	       href="/cgu-cgv">
	      {t:login.accept-conditions}
	    </a>
	  </div>
	</div>
	<div class="span-3 last">
	  {v:signup-form.accept.error}
	</div>
      </div>
    </div>
    <div class="span-3 prepend-1 last" style="margin-top:152px;text-align:right">
      <button class="pretty-button typwidth" type="submit">{t:login.signup-btn}</button>
    </div>    	
    {v:signup-form.end}
  </div>

  <!--  
  <hr />

  <div class="span-24 append-bottom last">
    <div class="span-7">
      <h2>{t:login.other}</h2>
    </div>
    <div class="span-13">
      <p style="margin-top:12px"><strong>Facebook</strong> - Nous ne publions aucun message vers votre compte </p>
    </div>
    
    <div class="span-3 prepend-1 last" style="text-align:right">
      <button onclick="FB.login(function(r){if(r.session){runorg.runFromServer({v:fb-url})} },{scope:'email'})" class="pretty-button typwidth" type="submit"><img src="/public/icon/facebook-24.gif" style="margin-top:-2px"/></button>
    </div>

    <div id="fb-root"></div>
    <script type="text/javascript" src="https://connect.facebook.net/en_US/all.js"></script>
    <script type="text/javascript">
      FB.init({
      appId      : {v:fb-app-id},
      channelUrl : {v:fb-channel},
      status     : false,
      cookie     : true,
      xfbml      : false,
      oauth      : true
      });
    </script>
  </div>
  -->
</div>

{i:splash-ga}
  
