<div class="navbar">
  <div class="container">
    <div class="span-9 append-14 last">      
	{v:name} / 
	<strong>{t:notify.confirm}</strong>	
    </div>
  </div>
  <div class="navbar-bottom">
  </div>
</div>

<div class="container">
<div class="span-24 prepend-top last">
  <div class="span-16 append-8 last">
    <h3>Bienvenue,</h3>
    <p>
      Le lien que vous avez suivi est périmé. Pour des raisons de sécurité, un nouveau lien de connexion vient de vous être envoyé à la même adresse. Merci de cliquer sur ce nouveau lien pour continuer.
    </p>
    <p>
      Si vous n'avez pas reçu cet email dans les 5 minutes, vérifiez qu'il n'est pas dans votre filtre à spams.
    </p>
  </div>
</div>
<hr/>
<div class="span-24 last">
  <p class="small" style="text-align:right;color:#888">
    Nous serions très heureux de vous compter parmi nos utilisateurs, mais si vous ne souhaitez pas 
    vous inscrire, c'est très simple: il vous suffit de ne rien faire!
  </p>
</div>    
</div>
