<div class="footer-zone">
  <div class="-top"></div>
  <div class="-inner">
    <ul> 
      {{item:<li><a href="{v:url}">{v:name}</a></li>}}
      <li class="-login"><a href="/me">Se connecter</a></li>
    </ul>
    <ul> 
      <li><b>
	  Nos Blogs&nbsp;:  
      </b></li>
      <li><a href="http://runorg.com/blog/">
	  Conseils aux Associations  
      </a></li>
      <li><a href="http://runorg.com/actu/">
	  Actualités RunOrg  
      </a></li>
      <li><a href="http://runorg-tech.tumblr.com/">
	  Détails Techniques
      </a></li>
      <li><b>
	  Sur Internet&nbsp;:  
      </b></li>
      <li><a href="http://www.facebook.com/pages/RunOrg/150971591580879">
	  Facebook  
      </a></li>
      <li><a href="https://twitter.com/runorg">
	  Twitter  
      </a></li>
      <li><a href="http://eepurl.com/dtg6H">
	  Newsletter  
      </a></li>
    </ul>
    <p>
      &copy; 2012 RunOrg &ndash; <a href="/mentions-legales">Mentions Légales</a>
    </p>
  </div>
</div>

<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-17992452-1']);_gaq.push(['_setDomainName','.runorg.com']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s)})();</script>

<style type="less">
.theme-splash .footer-zone {
  min-height: 100px;
  margin-top: 40px;
  background-color: #222;
  overflow: hidden;
  box-shadow: 0 0 9px black;
  color: white;

  .-inner {
    margin: 10px auto;
    width: 950px;
  }

  ul {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
  }

  li {
    margin-right: 20px;
    float: left;
    font-size: 11px;
  }

  li.-login {
    margin-right: 0px;
    float: right;
    font-weight: bold;
  }

  p {
    text-align: center;
    font-size: 11px;
  }

  a {
    color: white;
  }
}
</style>
