<div class="block-price">
  <div class="-inner">
    <h2>{v:title}</h2>
    <h3>{v:subtitle}</h3>
    {v:text}
  </div>
</div>

<style type="less">
.theme-splash .block-price {

  background-color:#E70079;
  text-align: center;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 100px;
  margin: auto;

  .-inner {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    color: white;
    font-size: 12px;
    text-shadow: 0 -1px 1px #F8B;
  }

  * {
    margin: 0;
    color: white;
    text-shadow: 0 -1px 1px #F8B;
  }

  h2 {
    line-height: 40px;
    font-size: 40px;
  }

  h3 {
    line-height: 18px;
    font-size: 16px;
  }
}
</style>
