<div class="block-pride">
  <h2>{v:title}</h2>
  {{subtitle:<h3>{v:subtitle}</h3>}}
  <p>{v:text}</p>
  {{link:<p><a href="{v:url}">{v:text}</a></p>}}
</div>

<style type="less">
.theme-splash .block-pride {
  padding: 12px;
  max-width: 475px;
  margin: auto;


  h2 {
    color: black;
    text-transform: none;
    text-shadow: #BBB 0px 1px 0px;
    margin: 0 0 15px;
    text-align:center;
    line-height:30px;
    font-size: 24px;
    height: 30px;
  }

  h3 {
    color: #555;
    text-transform: none;
    margin: 0;
    position: relative;
    top: -15px;
    text-align:center;
    line-height:18px;
    font-size: 18px;
    height: 18px;
    font-weight: normal;
  }

  p {
    color: #777;
    margin: 0 0 14px;
    line-height:25px;
    font-size: 15px;
    font-weight: normal;
  }
}
</style>
