<ol class="sidebar">

  {{sections:
  <li class="{v:selected} {v:open} {v:admin}">
    <a class="-section" href="{v:url}">{v:label}</a>

    {{contents:
    <a class="-subsection {v:selected}" style="background-image: url({v:icon})" href="{v:url}">
      {v:label}
    </a>
    }}

  </li>
  }}

</ol>

<style type="less"> 

ol.sidebar {

  clear: both;
  list-style-type: none;
  padding: 0;
  margin: 0;

  a.-subsection {
    background: url("/public/icon/shading.png") no-repeat scroll 2px 2px transparent;  
    display: none;
    font-size: 13px;
    height: 24px;
    line-height: 20px;
    margin-left: 14px;
    padding-left: 22px;
  }

  a.-section {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
    padding-left: 5px;
	
    &:hover {
      text-decoration: none;
    }
  } 
  
  .-admin {
    margin-top: 20px;
    border:1px solid #CCC;
    a.-section {
      background-color: #EEE !important;
      color: #777 !important;
      padding-left: 4px 
    }
    a.-subsection { 
      display: block;
      margin-left: 13px 
    }
  }

  .-open a.-subsection { 
    display: block;
  }
  
  a.-subsection {
    &.-selected {
      color:#000;
      font-weight:bold;
      text-decoration:none;
    }
  }
}

.theme-sidebar() {
  ol.sidebar {
    a.-section{
      color:@the-color;
      &:hover {
        background-color:@sidebar-hover;
      }
    }
    .-selected { 
      a.-section { background-color:@sidebar-background; }
    }
  }
}

body {
  .colors-pink;
  .theme-sidebar;
}

.theme-green {
  .colors-green;
  .theme-sidebar;
}

.theme-sobre {
  .colors-sobre;
  .theme-sidebar;
}

.theme-white {
  .colors-white ;
  .theme-sidebar ;
}

</style>
