<div class="span-18 last">
  <div class="span-12">
    <h2>{v:reason}</h2>
  </div>
  <div class="span-6 last" style="text-align:right">
    <h2>{v:amount}</h2>
  </div>  
</div>
<hr/>

<div class="span-18 append-bottom last">
  <div class="span-11">

    <table>

      <tr>
	<td><strong>{t:accounting.new.method}</strong></td>
	<td>{v:mode}</td>
      </tr>

      <tr>
	<td><strong>{t:accounting.new.date}</strong></td>
	<td>{v:date}</td>
      </tr>

      {{payer:
      <tr>
	<td><strong>{v:label}</strong></td>
	<td>{v:name}</td>
      </tr>      
      }}

    </table>

  </div>
  <div class="span-7 last">

    <table class="compacted">
      <tr>
	<td><strong>{t:accounting.created}</strong></td>
	<td>{v:created}<div style="font-size:10px">{v:creator}</div></td>
      </tr>
      {{canceled:
      <tr>
	<td><strong>{t:accounting.cancelled}</strong></td>
	<td>{v:canceled}<div style="font-size:10px">{v:canceler}</div></td>
      </tr>
      }}
      {{cancel:
      <tr id="cancel-me">
	<td colspan="2">
	  <a href="javascript:void(0)" onclick="{v:action}">
	    {t:accounting.cancel}
	  </a>
	</td>
      </tr>
      }}
    </table>

  </div>
</div>
<hr/>

{v:form}
