<div class="span-18 last">
  <div class="span-18 append-bottom last">
    <div class="span-12"><h3 style="margin: 5px 0">{v:access}{t:menu.network}</h3></div>
    <div class="span-3">{v:search-button}</div>
    <div class="span-3 last">{v:add-button}</div>
  </div>
  <div class="span-9">
    <div class="address-book-head">
      <span class="-count">{v:count-following}</span>
      <span class="-text">{t:network.following} {v:instance}</span>
    </div>
    {{following:
    <div class="address-book-item">
      <span class="-access">{v:access}</span>
      <img class="-pic" src="{v:picture}"/>
      <div class="-body">
	{{edit:<a href="{v:url}" class="-edit tool">{t:edit}</a>}}
	{{with-url:<a href="{v:url}" class="-name">{v:name}</a>}}
	{{no-url:<span class="-name">{v:name}</span>}}
      </div>
    </div>
    }}
  </div>
  <div class="span-9 last">
    <div class="address-book-head">
      <span class="-count">{v:count-followers}</span>
      <span class="-text">{t:network.followers} {v:instance}</span>
    </div>
    {{followers:
    <div class="address-book-item">
      <img class="-pic" src="{v:picture}"/>
      <div class="-body">
	<a href="{v:url}" class="-name">{v:name}</a>
      </div>
    </div>
    }}
  </div>
</div>

<style type="less">

.address-book-head {

  background: url("/public/css/jqueryui-aristo/images/the_gradient.gif") repeat-x scroll center center transparent;
  border: 1px solid #BBBBBB;
  clear: both;
  margin: 4px 0;
  overflow: hidden;
  padding: 2px 4px;

  .-count {
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin: -3px 2px;
  }

  .-text { 
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }
}

.address-book-item {
  display: block;
  overflow: hidden;
  line-height: 25px;
  padding: 4px 1px;
  border-top: 1px solid #CCC;

  img.-pic {
    float: left;
    width: 25px;
    height: 25px;
    margin-right: 5px;
  } 

  .-body {
    display: block;
    overflow: hidden; 
  }

  .-name {
    overflow: hidden;
    display: block;
    font-weight: bold;
    white-space: nowrap;
  }

  .-edit {
    margin: 0 10px;
    line-height: 25px;
    float: right;
  }
}

</style>
