<div class="profile-stats">
  <button type="button" onclick="###.act()" class="pretty-button{v:color}">{v:label}</button>
  <div><span class="-count">{v:followers}</span>&nbsp;<span class="-label">{t:profile.stats.followers}</span></div> 
  <div><span class="-count">{v:broadcasts}</span>&nbsp;<span class="-label">{t:profile.stats.broadcasts}</span></div> 
</div>

<script type="coffeescript" params="url">
window.### = 
  act: () ->
    $('.profile-stats').addClass('-loading')
    jog.remote @, url, {}
</script>

<style type="less">
.profile-stats {

  border: 1px dashed #CCC;
  padding: 5px;
  width: 138px;

  button { 
    width : 100% ;
    margin-bottom: 3px; 
    display: block
  }

  .-count {
    font-weight: bold;
    font-size: 14px;
  }
  
  .-label {
    text-transform: uppercase;
    font-size: 11px; 
    color: #888
  }

  &.-loading {
    background: white url("/public/icon/ajax-load.gif") center center no-repeat;
    * { visibility: hidden }
  }

}
</style>
