<div class="my-digest">
  <div class="-left"></div>
  <div class="-right"></div>
  {{item:
  <div class="-item">
    <a href="{v:url}" class="-pic"><img src="{v:from-pic}"/></a>
    <div class="-body">
      <div class="-first">
	<div class="-foot">
	  <span class="-date">{v:time}</span>
	  <a href="{v:from-url}">{v:from}</a> 
	  {{via: {t:digest.via} <a href="{v:url}">{v:name}</a>}}
	</div>
	<h3><a href="{v:url}">{v:title}</a></h3>
	<p>{v:text}</p>
	{{rss:<div class="from-rss"><a target="_blank" href="{v:url}">{v:url}</a></div>}}
      </div>
      {{next-box:
      <div class="-next-box"> 
	{{next:
	<div class="-next">
	  <span class="-date">{v:time}</span>
	  <h4><a href="{v:url}">{v:title}</a></h4>
	</div>
	}}
      </div>
      }}
    </div>
  </div>
  }}
</div>

<script type="coffeescript" params="label">
left = 0
right = 0
$l = $ ".my-digest .-left"
$r = $ ".my-digest .-right"
$(".my-digest .-item").each () -> 
  $me = $ @
  h = $me.height() + 25
  if left <= right 
    left += h
    $me.appendTo($l) 
  else
    right += h
    $me.appendTo($r)
 
runorg.enlargeDetails ".-first", label, 180 

</script>

<style type="less">
.my-digest {

  .enlarge-details a.-show {
    border-top: 1px solid #BBB;
    border-bottom: none;
  }

  .colors-pink;

  width: 960px;

  .-left, .-right {
    width: 470px;
    margin-right: 10px;
    float: left;
  }

  .-item {    
    margin-bottom: 25px;
  }

  .-pic { 
    width: 50px;
    float: left;
  } 

  .-body {
    margin-left: 55px;
  }

  .-first { 
    border: 1px solid #BBB;
    box-shadow: 2px 2px 7px #BBB;
    padding: 5px;
    overflow: hidden;

    h3, p { margin-bottom: 8px; }

    p:last-child { margin-bottom: 0 }

    p { font-size: 11px; color: #555 }

    .-foot { 
      margin: -5px -5px 8px;
      padding: 2px 5px;
      font-size: 11px; 
      border-bottom: 1px solid #BBB; 
      a { 
        font-weight: bold; 
        color: #88F;
      }
    } 
  }

  .-next { 
    padding: 3px 10px;
    border: 1px solid #BBB;   
    border-top: none; 
  }

  .-next-box {
    margin: 0 2px 0 10px;
    box-shadow: 1px 1px 5px #BBB;
  } 

  h3 a { 
    color: @titles;
    &:hover { text-decoration: none; color: @titles }
  }

  h4 a { 
    color: @titles;
    &:hover { color: @titles }
    display: block;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 9px;   
  }

  h4 { margin-bottom: 0px } 

  .-date { 
    font-size: 10px;
    float: right;
    color: #888;
  }

}
</style>
