<div class="navbar">
  <div class="container">
    <div class="span-9 append-14 last">      
	<a href="http://runorg.com">RUN<strong>ORG</strong></a> / 
	<strong>{v:title}</strong>	
    </div>
  </div>
  <div class="navbar-bottom">
  </div>
</div>

<div class="container">
<div class="span-24 prepend-top last">
  <div class="span-16 prepend-4 append-4 last">
    <center><img src="/public/icon/32x32/email_delete.png"/></center>
    <p>
      Vous recevez un résumé quotidien ou hebdomadaire de l'activité de votre réseau, et vous ne souhaitez plus le recevoir&nbsp;? Cliquez sur le bouton &laquo;&nbsp;Désinscription&nbsp;&raquo; ci-dessous.
    </p>
    <p>
      <b>Important&nbsp;:</b>
    </p>
    <ul>
      <li><p>
	  Vous ne recevrez plus aucun résumé d'aucune association de votre réseau. Si vous souhaitez recevoir les annonces de certaines associations mais pas d'autres, rendez-vous sur la page de ces associations pour vous en désabonner. 
      </p></li>
      <li><p>
	  Vous continuerez à recevoir les notifications relatives aux associations dont vous êtes membre (invitations, messages, inscriptions...)&nbsp;: rendez-vous dans l'onglet &laquo;&nbsp;Notifications&nbsp;&raquo; de votre compte RunOrg pour configurer ces envois.
      </p></li>
      <li><p>
	  Si vous souhaitez supprimer complètement votre compte RunOrg, <a href="http://runorg.com/contact">contactez-nous directement</a> depuis l'adresse associée à votre compte. 
      </p></li>
    </ul>
    <div class="span-3 prepend-13 prepend-top append-bottom last">    
      <a href="{v:url}" class="pretty-button orange-button">Désinscription</a>
    </div>
    <hr/>
  </div>
</div>
