<div class="navbar">
  <div class="container">
    <div class="span-9 append-14 last">      
	<a href="http://runorg.com">RUN<strong>ORG</strong></a> / 
	<strong>{v:title}</strong>	
    </div>
  </div>
  <div class="navbar-bottom">
  </div>
</div>

<div class="container">
<div class="span-24 prepend-top last">
  <div class="span-16 prepend-4 append-4 append-bottom last">
    <center><img src="/public/icon/32x32/exclamation.png"/></center>
    <p>
      Ce lien de désinscription est invalide. Pour des raisons de sécurité, tous nos liens sécurisés expirent en trois jours. 
    </p>
    <p>
      <a href="http://runorg.com/me/#/account/mail/">Cliquez ici</a> pour vous connecter et vous désabonner de ces envois. 
    </p>
    <hr/>
  </div>
</div>
