<div class="navbar">
  <div class="container">
    <div class="span-9 append-14 last">      
	<a href="http://runorg.com">RUN<strong>ORG</strong></a> / 
	<strong>{v:title}</strong>	
    </div>
  </div>
  <div class="navbar-bottom">
  </div>
</div>

<div class="container">
<div class="span-24 prepend-top last">
  <div class="span-16 prepend-4 append-4 append-bottom last">
    <center><img src="/public/icon/32x32/tick.png"/></center>
    <p>
      <b>Votre demande de désinscription a bien été prise en compte.</b> Vous ne recevrez plus de résumés de l'activité de votre réseau. 
    </p>
    <hr/>
  </div>
</div>
