<div style="background-color:#EEE;border:1px dashed #CCC;padding:8px;margin:8px 0;clear:both">

  <h3 style="color: #333;font-size: 16px;line-height: 20px;margin-bottom: 8px;">
    Vous souhaitez vous abonner aux annonces de <b>{v:name}</b>&nbsp;?</h3>

  <p style="font-size: 11px;color: #666;margin-bottom: 8px;"> 
    Entrez votre adresse e-mail pour recevoir ces annonces gratuitement&nbsp;:
  </p>

  <input type="text" name="email" style="width: 210px"/>

  <button type="submit" class="pretty-button green-button typwidth" style="margin: auto;display;block">Abonnement</button>

  <p style="font-size:10px;color:#888;margin:8px 0 0">
    Votre adresse e-mail est en sécurité&nbsp;: elle ne sera pas communiquée à des tiers, nous ne vous enverrons jamais plus d'un e-mail par jour, et vous pourrez à tout moment demander de ne plus rien recevoir.
  </p>

</div>

