<div class="navbar">
  <div class="container">
    <div class="span-9"> <a href="http://runorg.com">RUN<strong>ORG</strong></a> / 
      <strong>{v:asso}</strong>
    </div>
    <div class="span-15 navbar-links last" style="text-align:right">
      <a href="{v:login}" title="{t:navbar.login}">{t:navbar.login}</a> |
      <a href="{v:login}" title="{t:navbar.signup}">{t:navbar.signup}</a>
    </div>
  </div>
  <div class="navbar-bottom"></div>
</div> 
<div class="container">
  <div id="content" class="span-24 last prepend-top append-bottom">
    {v:content}
  </div>
  <hr/>
  <div id="footer">
    <p class="small">{v:footer}</p>
  </div>
</div> 
