@charset "UTF-8";

/*--------------------------------------*/
/*StringBall base                       */
/*--------------------------------------*/
div#tags{
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
}
div#tags h2{
	position:absolute;
	margin:0;
	padding:0;


}


/*--------------------------------------*/
/*StringBall design                     */
/*--------------------------------------*/
div#tags{
	height:300px;
	font-size:30px;
	font-weight:bold;
}
div#tags h2 a {
	text-decoration:none;
	color:#f90;
	border:none;
}

div#tags h2 a:hover{
	border:solid 1px #f90;
}
