<tr>
  <td><div style="width:183px">
      <a class="collapse" href="javascript:void(0)" onclick="{v:details}"></a>
      {v:answer}
  </div></td>
  <td>
    <div class="ui-progressbar ui-widget ui-widget-content" style="width: 110px;">
      <div class="ui-progressbar-value ui-widget-header" style="width: {v:percent}%; display: block;"></div>
    </div>
  </td>
  <td><div style="width:20px;text-align:right">{v:count}</div></td>
  <td><div style="width:40px;text-align:right">{v:percent}%</div></td>
</tr>
<tr id="{v:id}" style="display:none"></tr>
