<div class="span-18 last">
  <div class="action-bar">
    <a class="pretty-button" href="{v:back}">◀ {t:album.back}</a>
    <a class="pretty-button -right" id="on-right-arrow" href="{v:prev_url}"{v:prev_att}>
      ▶
    </a>
    <a class="pretty-button -right" id="on-left-arrow" href="{v:next_url}"{v:next_att}>
      ◀
    </a>
  </div>
</div>
<div class="span-18 append-bottom last">
  {{image:
  <center>
    <a href="{v:next_url}">
      <img src="{v:url}"/>
    </a>
  </center>
  }}
</div>
<div class="span-12 prepend-3 append-3 last">
  {v:contents}
</div>
