<div class="span-10 last">
  <div class="albumUploader-notice">
    {t:album.upload.space-available} <strong>{v:space-available}</strong><small> / {v:space-total} {t:megabytes}</small>
  </div>
</div>
<div class="span-10 last">
  <button id="albumUploader-button"></button>
  <div class="albumUploader-list"></div>
</div>
<script type="coffeescript" params="prepare_url">
if (!runorg._album_uploader) 
  $('<script type="text/javascript" src="/public/js/swfupload.js"><'+'/script>').appendTo('body');
  runorg._album_uploader = true;

$list = @$.find('.albumUploader-list')
uploading = false
current = null

onComplete = -> 
  uploading = false
  if current
    $.get current, {},
      (data) ->
        jog.call self, data.code if data.code 
      'json'
    current = null
  do doUpload

doUpload = ->
  i = 0
  while (file = uploader.getFile(i++))
    $item = $('#uploaded_'+file.id) 
    if $item.length == 0
      $item = $('<div id="uploaded_'+file.id+'"></div>').text(file.name).appendTo($list)
    theClass = '' 
    theClass = 'upload-error'     if file.filestatus == SWFUpload.FILE_STATUS.ERROR
    theClass = 'upload-ok'        if file.filestatus == SWFUpload.FILE_STATUS.COMPLETE
    theClass = 'upload-cancelled' if file.filestatus == SWFUpload.FILE_STATUS.CANCELLED 
    $item.removeClass().addClass(theClass)
  return if uploading
  file = do uploader.getFile
  if file
    $('#uploaded_'+file.id).removeClass().addClass('upload-in-progress')
    uploading = true
    $.get prepare_url, {name:file.name}, 
      (data) ->
        current = data.confirm
        uploader.setUploadURL(data.upload || '-')
        data.post.Filename = '' # Suppress this SWFUpload auto-sent field
        uploader.setPostParams data.post
        do uploader.startUpload
      'json'
  else
    setTimeout( -> 
        do runorg.closeDialog
        jog.boxRefresh 500
      1000
    )

uploader = new SWFUpload
  file_post_name: 'file'
  flash_url: '/public/flash/swfupload.swf'
  button_placeholder_id: 'albumUploader-button'
  button_width: 66
  button_height: 35
  button_image_url: '/public/img/upload-button.png'
  file_dialog_complete_handler: doUpload
  upload_complete_handler: onComplete,
  file_types: '*.jpg;*.gif;*.png'

</script>
<style type="less">
.swfupload {
  position: absolute;
}

.albumUploader-list {

  border: 1px solid #CCC;
  margin-left: 75px;
  padding: 5px;
  width: 305px;
  min-height: 130px;
  max-height: 260px;
  overflow: auto;

  div {

    padding-left: 20px;
    line-height: 18px;
    background: transparent url('/public/icon/bullet_black.png')left center no-repeat;

    &.upload-error, &.upload-cancelled {
      background-image: url('/public/icon/cross.png');
    }

    &.upload-ok {
      background-image: url('/public/icon/tick.png');
    }

    &.upload-in-progress {
      background-image: url('/public/icon/load-16x16.gif');
    }
  }
}

.albumUploader-notice {
  background-color: #EEEEEE;
  font-size: 14px;
  margin-bottom: 6px;
  text-align: center;
}
</style>
