<div class="span-18 last">
  <div id="{v:edit-id}" class="page-navig append-bottom">
    <a href="javascript:void(0)" class="prev">◀&ensp;</a>
    <span class="current">1</span> / <span class="total">1</span>
    <a href="javascript:void(0)" class="next">&ensp;▶</a>
  </div>
</div>

<div class="span-18 last">
  {v:join-edit.begin}
  <div class="span-18 last">
    <div class="joinbox {v:css-action}">
      {v:summary}
    </div>
  </div>
  <div class="append-1 span-17 prepend-top append-bottom labels-right last">
    <div class="field">
      <div class="-label">{v:join-edit.status.label} <a class="minitip">[?]</a></div>
      <div class="-field">{v:join-edit.status.input}</div>
    </div>
    {v:content}
  </div>
  <hr/>
  <div class="span-18 last">
    {v:remove}
    <a href="{v:cancel}" class="pretty-button" style="float:right">{t:cancel}</a>    
    <button type="submit" class="pretty-button" style="float:right">{v:action}</button>    
  </div>
  {v:join-edit.end}
</div>
