<div class="span-18 last">
  <div class="action-bar">
    <a class="pretty-button" href="{v:back}">◀ {t:group.back}</a>
  </div>
</div>

<div class="span-18 append-bottom last">

  <div class="span-9">
    <div class="mini-profile-joy">
      <img src="{v:picture}">
      <span>
	<strong><a href="{v:profile}">{v:name}</a></strong>
	<br>
	<span class="status {v:status-css}">{v:status}</span>
      </span>
    </div>
  </div>

  <div class="span-9 last">
    <h3 class="join-status">{v:join-status}</h3>
  </div>

</div>
<hr/>

{{invite:
<div class="span-16 prepend-1 append-1 append-bottom last">
  <div class="span-5">
    <h3 class="join-section">
      {t:join.section.invite}
    </h3>
  </div>
  <div class="span-11 invite-status last">
    <div class="span-8 join-status">
      <strong>{v:current}</strong>
      {{details:
      <span class="small-details">
	<img src="{v:author-pic}"/>&nbsp;<a href="{v:author-url}">{v:author-name}</a> ·
	{v:date} 
      </span>
      }}
    </div>
    <div class="span-3 last">
      {{button:<button class="pretty-button typwidth" onclick="{v:invite}">{v:invite-label}</button>}}
    </div>
  </div>
</div>
}}

{{member:
<div class="span-16 prepend-1 append-1 append-bottom last">
  <div class="span-5">
    <h3 class="join-section">
      {t:join.section.member}
    </h3>
  </div>
  {{read:
  <div class="span-11 member-status last">
    <div class="span-8 join-status">
      <strong>{v:answer}</strong>
      {{details:
      <span class="small-details"> · 
	<img src="{v:author-pic}"/>&nbsp;<a href="{v:author-url}">{v:author-name}</a> ·
	{v:date} 
      </span>
      }}
    </div>
    <div class="span-3 last">
      {{button:<button class="pretty-button typwidth" onclick="{v:edit}">{t:edit}</button>}}
    </div>
  </div>
  }}
  {{write:
  <div class="span-11 member-status last">
    <div class="span-3 prepend-5">
      <button class="pretty-button typwidth" onclick="{v:yes}">{t:yes}</button>
    </div>
    <div class="span-3 last">
      <button class="pretty-button typwidth" onclick="{v:no}">{t:no}</button>
    </div>
  </div>
  }}
  </div>
</div>
}}

{{validation:
<div class="span-16 prepend-1 append-1 append-bottom last">
  <div class="span-5">
    <h3 class="join-section">
      {t:join.section.validation}
    </h3>
  </div>
  {{read:
  <div class="span-11 validation-status last">
    <div class="span-8 join-status">
      <strong>{v:answer}</strong>
      {{details:
      <span class="small-details"> · 
	<img src="{v:author-pic}"/>&nbsp;<a href="{v:author-url}">{v:author-name}</a> ·
	{v:date} 
      </span>
      }}
    </div>
    <div class="span-3 last">
      <button class="pretty-button typwidth" onclick="{v:edit}">{t:edit}</button>
    </div>
  </div>
  }}
  {{write:
  <div class="span-11 validation-status last">
    <div class="span-3 prepend-5">
      <button class="pretty-button typwidth" onclick="{v:yes}">{t:yes}</button>
    </div>
    <div class="span-3 last">
      <button class="pretty-button typwidth" onclick="{v:no}">{t:no}</button>
    </div>
  </div>
  }}
  </div>
</div>
}}

{{data:
<hr/>

{{items:
<div class="span-18 last">
  <div class="span-5" style="text-align:right">
    <strong>{v:label}</strong>
  </div>
  <div class="span-13 last">
    {v:value}
  </div>
</div>
}}

<!--
<div class="span-3 prepend-14 append-1 last">
  <button class="pretty-button typwidth" onclick="{v:edit}">{t:edit}</button>
</div>
-->
}}

<style type="less">
h3.join-status { 
  text-align: right;
  margin-bottom: 0;
  font-size: 32px; 
  line-height: 50px;
}

h3.join-section {
  margin-bottom: 0;
  color: #AAA !important; 
  line-height: 29px;
}

.join-status
{
  line-height: 29px;
}

</style>
