{v:header}

<div class="container">
  <div class="span-12 last" style="float:none;margin:60px auto">
    <center style="font-size: 100px;line-height: 80px;font-weight: bold;color: #555;text-shadow: #888 0 3px 12px;height: 100px">404</center>
    
    <center>
      <h2>Page non trouvée !</h2>
    </center>
    <center>
      Soyez certain que nous ne tolérons aucun absentéisme de la part de nos pages,
    </center>
    <center>
      et que la coupable sera promptement retrouvée et punie pour ce manquement. 
    </center>
  </div>
</div>

{v:footer}    
