<div class="span-18 labels-right last">
  {v:asso-edit.begin}

  <div class="span-16 last">
    <div class="span-4 label">{v:asso-edit.name.label}</div>
    <div class="span-11 prepend-1 last large-input required">{v:asso-edit.name.input}</div>
    <div class="span-11 prepend-5 last">{v:asso-edit.name.error}</div>
  </div>

  <div class="span-16 last">
    <div class="span-4 label">{v:asso-edit.pic.label}</div>
    <div class="span-11 prepend-1 last">{v:asso-edit.pic.input}</div>
    <div class="span-11 prepend-5 last">{v:asso-edit.pic.error}</div>
  </div>

  <div class="span-16 last">
    <div class="span-4 label">{v:asso-edit.tags.label}</div>
    <div class="span-11 prepend-1 last large-input">
      {v:asso-edit.tags.input}
      <div><small>{t:instance.field.tags.hint}</small></div>
    </div>
    <div class="span-11 prepend-5 last">{v:asso-edit.tags.error}</div>
  </div>

  <div class="span-16 append-bottom last">
    <div class="span-4 label">{v:asso-edit.desc.label}</div>
    <div class="span-11 prepend-1 last">{v:asso-edit.desc.input}</div>
    <div class="span-11 prepend-5 last">{v:asso-edit.desc.error}</div>
  </div>
  
  {i:show-details}
  <div>       
    <div class="span-16 last">
      <div class="span-4 label">{v:asso-edit.contact.label}</div>
      <div class="span-11 prepend-1 last large-input">{v:asso-edit.contact.input}</div>
      <div class="span-11 prepend-5 last">{v:asso-edit.contact.error}</div>
    </div>

    <div class="span-16 last">
      <div class="span-4 label">{v:asso-edit.address.label}</div>
      <div class="span-11 prepend-1 last">{v:asso-edit.address.input}</div>
      <div class="span-11 prepend-5 last">{v:asso-edit.address.error}</div>
    </div>

    <div class="span-16 last">
      <div class="span-4 label">{v:asso-edit.phone.label}</div>
      <div class="span-11 prepend-1 last">{v:asso-edit.phone.input}</div>
      <div class="span-11 prepend-5 last">{v:asso-edit.phone.error}</div>
    </div>

    <div class="span-16 last">
      <div class="span-4 label">{v:asso-edit.site.label}</div>
      <div class="span-11 prepend-1 last large-input">{v:asso-edit.site.input}</div>
      <div class="span-11 prepend-5 last">{v:asso-edit.site.error}</div>
    </div>
    
    <div class="span-16 last">
      <div class="span-4 label">{v:asso-edit.facebook.label}</div>
      <div class="span-11 prepend-1 last large-input">{v:asso-edit.facebook.input}</div>
      <div class="span-11 prepend-5 last">{v:asso-edit.facebook.error}</div>
    </div>
    
    <div class="span-16 last">
      <div class="span-4 label">{v:asso-edit.twitter.label}</div>
      <div class="span-11 prepend-1 last large-input">{v:asso-edit.twitter.input}</div>
      <div class="span-11 prepend-5 last">{v:asso-edit.twitter.error}</div>
    </div>
    
  </div>

  <div class="prepend-top span-18 last">
    <div class="span-4">
      <div class="required-legend">{t:required}</div>
    </div>
    <div class="span-3 prepend-11 last">
      <button type="submit" class="pretty-button typwidth">{t:save}</button>
    </div>
  </div>

  {v:asso-edit.end}
</div>
