		</td></tr></table>

	      <td></tr><tr><td>
		<table width="100%" style="font-size:10px;color:#888;border-top:1px solid #CCC"><tr><td>
		      Envoyé par <b>{v:instance}</b> via <a style="color:#88F" href="http://runorg.com/">RunOrg</a> 
		      <br/>
		      <a style="color:#88F" href="http://runorg.com/help/reception-emails">Pourquoi je reçois ceci</a> ·
		      <a style="color:#88F" href="http://runorg.com/help/modifier-notifications-emails">Gérer mes notifications 
		      </a> ·
		      <a style="color:#88F" href="http://runorg.com/help/stop-email-org">Ne plus rien recevoir de cette organisation</a> ·
		      <a style="color:#88F" href="http://runorg.com/help/suppression-compte-runorg">Ne plus rien recevoir</a>
		</td></tr></table>
	  </td></tr></table>
	  <br/>
    </td></tr></table>
  </body>
</html>

