<div class="navbar">
  <div class="container">
    <div class="span-9">
      <a href="http://runorg.com"
	 style="font-family:&quot;Helvetica&quot;">RUN<strong>ORG</strong></a> / 
      <a href="http://runorg.com/network"
	 title="{t:runorg-network}"><strong>{t:runorg-network}</strong></a>
    </div>
    <div class="span-15 navbar-links last" style="text-align:right">
      <a href="https://runorg.com/login" 
	 class="navbar-last" title="{t:navbar.login}">{t:navbar.login}</a>
    </div>
  </div>
  <div class="navbar-bottom"></div>
</div>
