<div class="splash-footer">
  <div>
    
    <div class="container">
      <div class="span-24 prepend-top menu last">
	<div class="span-6">	 
	  <a href="/"><b>Accueil</b></a><br />
	  <a target="_blank" href="http://eepurl.com/dtg6H">Newsletter</a>
	</div>
	<div class="span-6">
	  <b>Société</b><br/>
	  <a href="/about">Qui sommes-nous ?</a><br/>
	  <a href="/contact">Nous contacter</a><br/>
	  <a href="/partners">Partenaires</a><br/>
	  <a href="/cgu-cgv">Mentions légales</a><br/>	  
	</div>
	<div class="span-6">
	  <b>Produits</b><br/>
	  <a href="/pricing">Tarifs</a><br/>
	  <a href="/catalog">Catalogue</a><br/>
	  <a href="/offers">Nos offres d'accompagnement</a><br/>
	  <a href="/help">Support</a>
	</div>
	<div class="span-6 last">
	  <b>Blogs</b><br/>	  
	  <a href="http://www.runorg.com/blog" title="Blog de conseil aux associations" target="_blank">Conseil aux assos</a><br/>
	  <a href="http://www.runorg.com/actu" title="L'actualité de RunOrg" target="_blank">Actualités RunOrg</a><br/>
	  <a href="http://runorg-tech.tumblr.com" title="Le blog tech de RunOrg" target="_blank">Technique &amp; code</a>
	  </ul>
	</div>
      </div>    
      
      <div class="span-24 prepend-top bottom append-bottom last copyright-text">   
	&copy; <a href="/" title="Accueil RunOrg">RunOrg 2012</a> - <script type=text/javascript>
	  var name = "contact" ;
	  var domain = "runorg.com" ;
	  document.write('<a href=\"mailto:' + name + '@' + domain + '\">') ;
	    document.write(name + '@' + domain + '</a>') ;</script> - <a href="http://www.runorg.com/blog">Le Blog RunOrg</a> - <a href="http://www.facebook.com/pages/RunOrg/150971591580879">Devenez Fan de RunOrg</a> - <a href="http://www.twitter.com/runorg">Suivez RunOrg</a>
      </div>
      
    </div>
  </div>
</div>
{i:splash-ga}

<style type="less">
.splash-footer {

  background:url(/public/img/degrade-5.jpg) repeat-x;
  padding-top:20px;
  width:100%;

  > div {
    border-bottom:6px solid #333;
    background:#FFF url(/public/img/background-footer.png) repeat scroll 0 0;
    font-size:14px;
    text-align:left;
    padding-left:60px;
  }

  ul {
    list-style-type:none;
    font-size:14px;
    display:block;
  }

  .prepend-top { margin-top: 12px; }
 
  .append-bottom { margin-bottom: 12px; }

  a, & {
    color:#FFF;
    text-decoration:none;
  }

  .bottom {
    font-size: 11px;
    text-align: center;
  }

  .copyright-text { text-align:center; }
}
</style>
