<a name="top"></a>
<div id="pink">
  <div class="container">
    
    <div id="header">
      <a href="/" title="Accueil" style="float:left;"><img src="/public/img/logo-2.png" /></a>

      <div>
        <ul id="menu">
          
	  <li class="item-menu">
	    <a class="minitip -shown -s" href="/" title="">Accueil</a>
	  </li>
	  
	  <li class="item-menu">
	    <a class="minitip -shown -s" href="/product" title="Quoi ?">Produits</a>
	  </li>
      
	  <li class="item-menu">
      	    <a class="minitip -shown -s" href="/pricing" title="Combien ?">Tarifs</a>
	  </li>

	  <li class="item-menu">
      	    <a class="minitip -shown -s" href="/network" title="Avec qui ?">Réseau</a>
	  </li>
	  
	  <li class="item-menu">
      	    <a class="minitip -shown -s" href="/help" title="Comment ?">Support</a>
	  </li>
	  
	  <li class="item-menu">
	    <a class="minitip -shown -s" href="http://www.runorg.com/blog" title="Pourquoi ?" target="_blank">Blog</a>
	  </li>
	</ul>
      </div>
            
    </div>
  </div>
</div>

<div id="top-nav">
  <div class="container">
    <a href="/me/#/news/" title="Connectez-vous à votre RunOrg">Connexion</a>
    &sdot; <a href="/start">S'inscrire</a>
  </div>  
</div>
    
<style type="less"> 
#pink
{
  background:url(/public/img/degrade-rose.png) #FFF;
}

#header
{
  padding-left:10px;
  padding-top:6px;
  padding-bottom:2px;
  height:46px;
}

#menu
{
  margin:0 0 0 78px;
  overflow: hidden;
  list-style:none;
  font-size:26px;
  float:right;

  a {
    text-decoration:none;
    font-size:16px;
    color:#FFF;
    padding:0 2px;
    vertical-align:middle;
    &:hover { background-color:#FFF; color:#E70070; }
  }

  .item-menu {
    float:left;
    margin-left:20px;
  }
}

#top-nav {
  background:url(/public/img/degrade-2.jpg) no-repeat #333;
  color:#FFF;
  padding:1px;
  text-align:right;
  text-shadow:0 1px -1px #B0005E;
  font-weight:bold;
  margin-left:-20px;

  a {
    color: inherit;
    text-decoration:none;
    &:hover { color: #F36; }
  }
}
</style>
