<div style="border: 1px solid rgb(204, 204, 204); background-color:white; margin: 15px auto; padding: 5px; width: 590px;height:23px;">
<div style="padding: 1px 2px; float: left; width: 120px;">
<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.runorg.com/about/sondage" data-text="Un sondage pour les associations" data-count="horizontal" data-via="runorg" data-lang="fr">Tweet</a>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
</div>
<iframe scrolling="no" frameborder="0" style="border: medium none ; height: 24px; width: 370px;overflow:hidden" src="http://www.facebook.com/widgets/like.php?href=http://www.runorg.com/about/sondage"></iframe>
<div class="addthis_toolbox addthis_default_style" style="margin: 3px 2px; float: right;">
<span style="float: left; font-size: 10px; line-height: 17px;"> ...ou par email: </span>
<a class="addthis_button_email" addthis:url="http://www.runorg.com/about/sondage" addthis:title="Un sondage pour les associations"></a>
</div>
<script type="text/javascript">
var addthis_config = {
     ui_language: "fr"
}
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=runorg"></script>
</div>
