<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sondage</title>

<link media="screen, projection" type="text/css" href="/public/css/reset.css" rel="stylesheet">
<link media="screen, projection" type="text/css" href="http://www.runorg.com/public/css/jqueryui-aristo/jquery-ui-1.8.4.custom.css" rel="stylesheet">
<link media="screen, projection" type="text/css" href="/public/css/sondage.css" rel="stylesheet">
</head>
<body>
<div id="progress">
<div style="margin:auto;width:279px"></div>
</div>
<div id="everything">
<h1>Nous vous remercions pour votre participation !</h1>

<p>Pour que les résultats soient utiles au plus grand nombre, il est nécessaire qu’un maximum de personnes réponde à cette étude. Voilà pourquoi nous vous encourageons à <strong>diffuser ce sondage</strong> aux membres de vos associations, à vos contacts et vos amis. Et à en parler autour de vous !</p>
<p>Nous avons en effet noté que beaucoup de personnes étaient membres d’une association ou d’un club sans pour autant en parler avec leur entourage : ce sondage et ses résultats pourraient les intéresser !</p>

{i:viral-sondage}

<p>Pour rester connecté et à jour sur le sujet de la communication et des outils numériques dans les associations, n’oubliez pas de venir régulièrement consulter <a href="http://www.runorg.com/blog" title="Le blog RunOrg">notre Blog</a>.</p>

<p>L'équipe RunOrg</p>
</div>
<div id="footer">
&copy; 2010 - RUN<strong>ORG</strong>
</div>
</body>
</html>
